﻿
@{
    ViewBag.Title = "Create_3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderAction("_Navigation", "User");
}
<body style="overflow-x:hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 col-md-1">

            </div>
            <div class="col-sm-10 col-md-10" style="margin-top:25px;">
                <div class="tab-content" id="blockquotes-tabContent">
                    <div class="tab-pane fade active show" id="blockquotes-left-1" role="tabpanel" aria-labelledby="blockquotes-left-tab-1">
                        <!-- Left Bordered -->
                        <blockquote class="blockquote-v1 blockquote-v1--bottom" style="margin-bottom:0px;">
                            <h4 style="font-weight:bold; margin-bottom:3px; text-align:center;">PUBLICÁ TU AVISO</h4>
                            <label><b>Paso 4 de 4</b></label>
                            <div class="col-sm-2 col-lg-2" style="padding:0px;">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        <span class="sr-only">100% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                        <!-- End Left Bordered -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <!--Panel contenedor-->
                        <div class="single category" style="padding:12px;">
                            <h4 style="text-align:center">¡Ya casi publicás!</h4>
                            <hr style="border-color:#59287a; border:none; height:3px; background-color:#59287a;" />
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <!--Espacio vacio-->
                                </div>
                                <div class="col-sm-8 col-md-8">
                                    <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px;">
                                        <input type="checkbox" class="custom-control-input" id="customCheck8" checked="">
                                        <label class="custom-control-label u-font-size-90" id="txtCheck8" for="customCheck8"><b>Permitir contraofertas</b> (un usuario podrá ofertarte un nuevo precio por tu producto o servicio).</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px;">
                                        <input type="checkbox" class="custom-control-input" id="customCheck9" checked="">
                                        <label class="custom-control-label u-font-size-90" id="txtCheck9" for="customCheck9"><b>Aceptar cuotas</b> (un usuario podrá ofrecerte comprarte tu producto o servicio en cuotas)</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px;">
                                        <input type="checkbox" class="custom-control-input" id="customCheck10" checked="">
                                        <label class="custom-control-label u-font-size-90" id="txtCheck10" for="customCheck10"><b>Permitir ofrecimiento de canjes</b> (un usuario podrá ofrecerte otro producto como canje parcial o total de tu producto)</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px;">
                                        <input type="checkbox" class="custom-control-input" id="customCheck11" checked="">
                                        <label class="custom-control-label u-font-size-90" id="txtCheck11" for="customCheck11"><b>Habilitar preguntas y respuestas.</b> Te avisaremos por mail cuando recibas una pregunta.</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px;">
                                        <input type="checkbox" class="custom-control-input" id="customCheck12" checked="">
                                        <label class="custom-control-label u-font-size-90" id="txtCheck12" for="customCheck12"><b>Acepto los términos y condiciones</b></label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px;">
                                        <input type="checkbox" class="custom-control-input" id="customCheck13" checked="">
                                        <label class="custom-control-label u-font-size-90" id="txtCheck13" for="customCheck13"><b>Acepto las <a href="@Url.Action("Politica","Home")"><u>políticas de privacidad</u></a> de Onix</b></label>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <!--Espacio vacio-->
                                </div>
                            </div>
                            @*<div class="single category" style="padding: 12px; border:solid 0.25rem #59287a; background:linear-gradient(to bottom, #ce4040 0%, white 100%) ">
                                    <h4 style="text-align:center;">Destacar aviso</h4>
                                    <hr style="border-color:#59287a; border:none; height:3px; background-color:#59287a;" />
                                    <h5 style="text-align:center">Si querés, podés destacar tu aviso para recibir mas visitas y consultas</h5>
                                    <h5 style="text-align:left"><b>Período premium</b></h5>
                                    <hr style="border-color:#59287a; margin-top:0px;" />
                                    <div class="row">
                                        <div class="col-sm-4 col-lg-4">
                                            <div class="custom-control custom-radio mb-2">
                                                <input type="radio" class="custom-control-input" name="radio-4-dias" id="radio-4-dias" checked>
                                                <label class="custom-control-label u-font-size-90" for="radio-4-dias">Premium por 4 días</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4">
                                            <div class="custom-control custom-radio mb-2">
                                                <input type="radio" class="custom-control-input" name="radio-8-dias" id="radio-8-dias">
                                                <label class="custom-control-label u-font-size-90" for="radio-8-dias">Premium por 8 días</label>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 style="text-align:left"><b>Tipo premium</b></h5>
                                    <hr style="border-color:#59287a; margin-top:0px;" />
                                    <div class="row">
                                        <div class="col-sm-4 col-lg-4">
                                            <div class="custom-control custom-radio mb-2">
                                                <input type="radio" class="custom-control-input" name="radio-estandar" id="radio-estandar" checked>
                                                <label class="custom-control-label u-font-size-90" for="radio-estandar">Premium Estándar <b>($125)</b></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4">
                                            <div class="custom-control custom-radio mb-2">
                                                <input type="radio" class="custom-control-input" name="radio-avanzado" id="radio-avanzado">
                                                <label class="custom-control-label u-font-size-90" for="radio-avanzado">Premium Avanzado <b>($210)</b></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4">
                                            <div class="custom-control custom-radio mb-2">
                                                <input type="radio" class="custom-control-input" name="radio-destacado" id="radio-destacado">
                                                <label class="custom-control-label u-font-size-90" for="radio-destacado">Premium Destacado <b>($295)</b></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-12" style="padding:0px; text-align:center;">
                                            <div style="padding:0px;">
                                                <a class="btn btn-danger" id="btnDestacar" style="margin-top:15px;" href="@Url.Action("HighLight","Post")"><b>Destacar aviso</b></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row" style="padding:0px;">
                                <div class="col-sm-4 col-lg-4" style="padding-right:0px;">
                                    <div>
                                        <a class="btn btn-primary" id="btnVolver" style="margin-top:15px;" href="@Url.Action("Create_Image","Post")">« Volver</a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-4" style="padding:0px;">
                                    <div style="padding:0px; text-align:center;">
                                        <a class="btn btn-secondary" id="btnPublicar" style="margin-top:15px;" href="@Url.Action("Index","Post")"><b>Publicar aviso</b></a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-4" style="padding:0px;">

                                </div>
                            </div>
                            <!--alerta-->
                            <div class="alert bg-secondary text-white fade show" role="alert" id="avisoPublicado" style="display:none; margin-top:25px;">
                                <div class="d-flex">
                                    <div class="alert__icon mr-3">
                                        <i class="fas fa-thumbs-up"></i>
                                    </div>

                                    <div class="align-self-center mr-3">¡Tu aviso ha sido publicado!</div>

                                    <div class="ml-auto">
                                        <button type="button" class="alert__close alert__close--light" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1" style="margin-top:10px;">

                </div>
            </div>
            <div class="col-sm-1 col-md-1">

            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script type="text/javascript">
    $(document).ready(function () {
        //Si vuelve de publicar este aviso, lo mando al inicio (prevengo que publique n veces un mismo aviso)
        if (sessionStorage.getItem("titulo") == null || sessionStorage.getItem("titulo") == '') {
            window.location.href = "/Post/Create"
        }
        $('#btnPublicar').click(function (evt) {
            $('#btnPublicar').hide();
            Swal.fire({
                title: 'Creando publicación..',
                showCancelButton: false,
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                }
            });
            sessionStorage.setItem("contraofertas", $('#customCheck8').prop('checked'));
            sessionStorage.setItem("cuotas", $('#customCheck9').prop('checked'));
            sessionStorage.setItem("canjes", $('#customCheck10').prop('checked'));
            sessionStorage.setItem("pregyresp", $('#customCheck11').prop('checked'));
            if ($('#customCheck12').prop('checked')) {
                if ($('#customCheck13').prop('checked')) {
                    //Enviar todos los datos a un controlador nuevo
                    var data = {};
                    data.Categoria = sessionStorage.getItem("categoria");
                    data.SubCategoria = sessionStorage.getItem("sub-categoria");
                    data.Titulo = sessionStorage.getItem("titulo");
                    data.Moneda = sessionStorage.getItem("moneda");
                    data.Precio = sessionStorage.getItem("precio");
                    data.Localidad = sessionStorage.getItem("localidad-producto");
                    data.Descripcion = sessionStorage.getItem("descripcion");
                    data.Nombre = sessionStorage.getItem("nombre-contacto");
                    data.Apellido = sessionStorage.getItem("apellido-contacto");
                    data.Email = sessionStorage.getItem("email-contacto");
                    data.Celular = sessionStorage.getItem("celular-contacto");
                    data.Telefono = sessionStorage.getItem("telefono-contacto");
                    data.Domicilio = sessionStorage.getItem("domicilio-contacto");
                    data.LocalidadContacto = sessionStorage.getItem("localidad-contacto");
                    data.PermiteContraofertas = sessionStorage.getItem("contraofertas");
                    data.PermiteCuotas = sessionStorage.getItem("cuotas");
                    data.PermiteCanjes = sessionStorage.getItem("canjes");
                    data.PermitePreguntas = sessionStorage.getItem("pregyresp");
                    data.Caracteristicas = JSON.parse(sessionStorage.getItem("caracteristicas"));
                    data.ApellidoVisible = sessionStorage.getItem("apellido-visible");
                    data.EmailVisible = sessionStorage.getItem("email-visible");
                    data.CelularVisible = sessionStorage.getItem("celular-visible");
                    data.TelefonoFijoVisible = sessionStorage.getItem("telefonofijo-visible");
                    data.DomicilioVisible = sessionStorage.getItem("direccion-visible");
                    data.LocalidadContactoVisible = sessionStorage.getItem("localidadcontacto-visible");
                    data.Portada = sessionStorage.getItem("portada");

                    var options = {};
                    options.url = "/Post/GetData";
                    options.type = "POST";
                    options.data = JSON.stringify({ "data": data });
                    options.dataType = "json";
                    options.contentType = "application/json";
                    options.success = function (response) {
                        swal.close(); //cancelo carga
                        $("#avisoPublicado").fadeIn("slow");
                        confetti.start(2200, 100, 150);
                        Swal.fire({
                            title: '¡Tu aviso ha sido publicado!',
                            icon: 'success',
                            confirmButtonColor: '#59287a',
                            text: 'Serás redirigido a tu aviso publicado.',
                            backdrop: `
                        rgba(9, 206, 45, 0.6)
                        `
                        }).then((avanzar) => {
                            if (avanzar.value) {
                                sessionStorage.clear();
                                window.location.href = response.redirectToUrl
                            }
                        });
                    };
                    options.error = function (err) {
                        Swal.fire({
                            title: '¡Ups! Ha ocurrido un error..',
                            icon: 'error',
                            confirmButtonColor: '#59287a',
                            text: 'No hemos podido completar tu publicación. Por favor, intentá nuevamente más tarde.',
                            backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                        })
                    };

                    $.ajax(options);

                    evt.preventDefault();
                }
                else {
                    Swal.fire({
                        title: '¡Debes aceptar la política de privacidad de onix para continuar!',
                        icon: 'error',
                        confirmButtonColor: '#59287a',
                        backdrop: `
                        rgba(206, 9, 9, 0.6)
                        `
                    })
                }
            }
            else {
                Swal.fire({
                    title: '¡Debes aceptar los términos y condiciones de onix para continuar!',
                    icon: 'error',
                    confirmButtonColor: '#59287a',
                    backdrop: `
                    rgba(206, 9, 9, 0.6)
                    `
                })
            }
        });
        $(document).on("click", "input[name=radio-4-dias]:radio", function () {
            $("input[name=radio-8-dias]:radio").prop('checked', false);
        });
        $(document).on("click", "input[name=radio-8-dias]:radio", function () {
            $("input[name=radio-4-dias]:radio").prop('checked', false);
        });
        $(document).on("click", "input[name=radio-estandar]:radio", function () {
            $("input[name=radio-avanzado]:radio").prop('checked', false);
            $("input[name=radio-destacado]:radio").prop('checked', false);
        });
        $(document).on("click", "input[name=radio-avanzado]:radio", function () {
            $("input[name=radio-estandar]:radio").prop('checked', false);
            $("input[name=radio-destacado]:radio").prop('checked', false);
        });
        $(document).on("click", "input[name=radio-destacado]:radio", function () {
            $("input[name=radio-estandar]:radio").prop('checked', false);
            $("input[name=radio-avanzado]:radio").prop('checked', false);
        });
    });
</script>
