﻿@using Onix.Models;
@model ContactViewModels
@{
    Html.RenderAction("_Navigation", "User");
}
<body style="overflow-x:hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 col-md-1">

            </div>
            <div class="col-sm-10 col-md-10" style="margin-top:25px;">
                <div class="tab-content" id="blockquotes-tabContent">
                    <div class="tab-pane fade active show" id="blockquotes-left-1" role="tabpanel" aria-labelledby="blockquotes-left-tab-1">
                        <!-- Left Bordered -->
                        <blockquote class="blockquote-v1 blockquote-v1--bottom" style="margin-bottom:0px;">
                            <h4 style="font-weight:bold; margin-bottom:3px; text-align:center;">PUBLICÁ TU AVISO</h4>
                            <Label><b>Paso 2 de 4</b></Label>
                            <div class="col-sm-2 col-lg-2" style="padding:0px;">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                        <span class="sr-only">50% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                        <!-- End Left Bordered -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <!--Panel contenedor-->
                        <div class="single category" style="padding:12px;">
                            <div class="card" style="background:linear-gradient(to right, #cdf0ff 0%, rgba(62,81,172,1) 100%, rgba(42,169,229,1) 100%)">
                                <div class="row" style="display: flex; align-items: center; justify-content: center; margin-left:8px;">
                                    <div class="col-sm-2 col-md-2">
                                        <h6 style="font-weight:bold">Categoría</h6>
                                    </div>
                                    <div class="col-sm-10 col-md-10">
                                        <h4 id="titulo-categoria" style="font-weight:bold; color: #59287a;"></h4>
                                    </div>
                                </div>
                                <div class="row" style="display: flex; align-items: center; justify-content: center; margin-left:8px;">
                                    <div class="col-sm-2 col-md-2">
                                        <h6 style="font-weight:bold">Sub-Categoría</h6>
                                    </div>
                                    <div class="col-sm-10 col-md-10">
                                        <h4 id="titulo-sub-categoria" style="font-weight:bold; color: #59287a;"></h4>
                                    </div>
                                </div>
                            </div>
                            @*PAUTA PUBLICITARIA CARTEL*@
                            <div id="cartel-pauta-publicitaria" class="col-sm-12 col-md-12" style="display:none; padding:8px; margin-top:10px; margin-bottom:0px; text-align:center; background-color:lightgoldenrodyellow; box-shadow: 0 0 10px rgba(0,0,0,.55); border-radius: .25rem;">
                                <div class="card" style="display:inline-block">
                                    <div class="card-body">
                                        <span>Recordá que podés realizar hasta <b>2 publicaciones</b> mensuales en esta categoría.</span><br />
                                        <span>Si querés realizar publicaciones <b>ILIMITADAS</b>, destacar avisos <b>GRATIS</b> y más contratá nuestras <b style="text-decoration:underline"><a href="@Url.Action("Contact","Home")">pautas publicitarias</a></b>.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:12px;">
                                <div class="col-sm-9 col-md-9">
                                    <div class="card">
                                        <!-- Card Header -->

                                        <div class="card-header">
                                            <div class="form-group mb-4">
                                                <h5>Título</h5>
                                                <span class="form-icon-wrapper">
                                                    <a class="text-center d-block" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tenés un máximo de 100 caracteres.">
                                                        <input type="text" maxlength="100" class="form-control" id="titulo" placeholder="Título de la publicación">
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- End Card Header -->
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <h5 id="palabraPrecio">Precio</h5>
                                            <div class="row">
                                                <div class="col-sm-2 col-md-2">
                                                    <div class="form-group">
                                                        <select id="moneda" required="required" class="form-control">
                                                            <option value="1" selected="selected">$</option>
                                                            <option value="2">u$s</option>
                                                            <option value="3">€</option>
                                                            <option value="4">R$</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-10 col-md-10">
                                                    <a class="text-center d-block" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dejar en blanco para que se vea 'consultar'">
                                                        <input type="number" min="1" class="form-control" id="txtPrecio" placeholder="[Consultar]" onKeyPress="return soloNumeros(event)">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="form-group mb-4">
                                                <h5 id="palabraLocalidadProducto">Localidad del producto</h5>
                                                <span class="form-icon-wrapper">
                                                    <select id="localidad-producto" class="form-control">
                                                        <option value="Rafaela, Santa Fe" selected="selected">Rafaela, Santa Fe</option>
                                                        <option value="Sunchales, Santa Fe">Sunchales, Santa Fe</option>
                                                        <option value="Pilar, Santa Fe">Pilar, Santa Fe</option>
                                                        <option value="Susana, Santa Fe">Susana, Santa Fe</option>
                                                        <option value="Humboldt, Santa Fe">Humboldt, Santa Fe</option>
                                                        <option value="Felicia, Santa Fe">Felicia, Santa Fe</option>
                                                        <option value="Clucellas, Santa Fe">Clucellas, Santa Fe</option>
                                                        <option value="Aurelia, Santa Fe">Aurelia, Santa Fe</option>
                                                        <option value="Roca, Santa Fe">Roca, Santa Fe</option>
                                                        <option value="Egusquiza, Santa Fe">Egusquiza, Santa Fe</option>
                                                        <option value="Lehmann, Santa Fe">Lehmann, Santa Fe</option>
                                                        <option value="Nuevo Torino, Santa Fe">Nuevo Torino, Santa Fe</option>
                                                        <option value="Bella Italia, Santa Fe">Bella Italia, Santa Fe</option>
                                                        <option value="Ataliva, Santa Fe">Ataliva, Santa Fe</option>
                                                        <option value="Aldao, Santa Fe">Aldao, Santa Fe</option>
                                                        <option value="Coronel Fraga, Santa Fe">Coronel Fraga, Santa Fe</option>
                                                        <option value="Ramona, Santa Fe">Ramona, Santa Fe</option>
                                                        <option value="San Francisco, Santa Fe">San Francisco, Santa Fe</option>
                                                        <option value="San Vicente, Santa Fe">San Vicente, Santa Fe</option>
                                                        <option value="Sastre, Santa Fe">Sastre, Santa Fe</option>
                                                        <option value="San Jorge, Santa Fe">San Jorge, Santa Fe</option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div class="form-group mb-4" id="divCaracteristicas">
                                                <!--CARACTERISTICAS DEL ARTICULO-->
                                                <h5 id="lblCaracteristicas">Características del producto</h5>
                                                <hr id="separadorCaracteristicas" />
                                                <!--AUTOMOTORES-->
                                                <div class="row" id="automotores" style="display:none">
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Marca</label>
                                                        <input type="text" class="form-control" id="automotores-marca" placeholder="Marca">
                                                        <label id="automotores-modelotexto" class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Modelo</label>
                                                        <input type="text" class="form-control" id="automotores-modelo" placeholder="Modelo">
                                                        <label id="automotores-anotexto" class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Año</label>
                                                        <input type="number" class="form-control" id="automotores-ano" placeholder="Año" onKeyPress="return soloNumeros(event)">
                                                        <label id="automotores-combustibletexto" class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Combustible</label>
                                                        <select class="form-control" id="automotores-combustible">
                                                            <option value="Nafta">Nafta</option>
                                                            <option value="Gasoil">Gasoil</option>
                                                            <option value="Otro">Otro</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Condicion</label>
                                                        <select class="form-control" id="automotores-condicion">
                                                            <option value="Nuevo">Nuevo</option>
                                                            <option value="Usado">Usado</option>
                                                        </select>
                                                        <label id="automotores-kmtexto" class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Kilómetros</label>
                                                        <input type="number" class="form-control" id="automotores-km" placeholder="Km" onKeyPress="return soloNumeros(event)">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Tipo vendedor</label>
                                                        <select class="form-control" id="automotores-tipovendedor">
                                                            <option value="Particular">Particular</option>
                                                            <option value="Consecionaria">Consecionaria</option>
                                                        </select>
                                                        <label id="automotores-cilindradatexto" class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Cilindrada</label>
                                                        <input type="number" min="0" class="form-control" id="automotores-cilindrada" placeholder="Cilindrada (cm³)" onKeyPress="return soloNumeros(event)">
                                                    </div>
                                                </div>
                                                <!--AGRO-->
                                                <div class="row" id="agro" style="display:none">
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Sector</label>
                                                        <select class="form-control" id="agro-sector">
                                                            <option value="Agricultura">Agricultura</option>
                                                            <option value="Ganadería">Ganadería</option>
                                                            <option value="Construcción">Construcción</option>
                                                            <option value="Forestación">Forestación</option>
                                                            <option value="Lechería">Lechería</option>
                                                            <option value="Otro">Otro</option>
                                                        </select>
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Condición</label>
                                                        <select class="form-control" id="agro-condicion">
                                                            <option value="Nuevo">Nuevo</option>
                                                            <option value="Usado">Usado</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--ANIMALES-->
                                                <div class="row" id="animales" style="display:none">
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Tipo</label>
                                                        <select class="form-control" id="animales-tipo">
                                                            <option value="Animal">Animal</option>
                                                            <option value="Accesorios para animal">Accesorios para animal</option>
                                                            <option value="Otro">Otro</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--BEBES_NINOS-->
                                                <div class="row" id="bebesninos" style="display:none">
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Edad (años)</label>
                                                        <input type="number" class="form-control" id="bebesninos-edad" placeholder="Edad" onKeyPress="return soloNumeros(event)">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Condición</label>
                                                        <select class="form-control" id="bebesninos-condicion">
                                                            <option value="Nuevo">Nuevo</option>
                                                            <option value="Usado">Usado</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--ELECTRONICA-->
                                                <div class="row" id="electronica" style="display:none">
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Condición</label>
                                                        <select class="form-control" id="electronica-condicion">
                                                            <option value="Nuevo">Nuevo</option>
                                                            <option value="Usado">Usado</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--EMPLEOS-->
                                                <div class="row" id="empleos" style="display:none">
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Experiencia (años)</label>
                                                        <input type="number" class="form-control" id="empleos-experiencia" placeholder="Años de exp." onKeyPress="return soloNumeros(event)">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Rubro</label>
                                                        <select class="form-control" id="empleos-rubro">
                                                            <option value="Construcción / Obrero">Construcción / Obrero</option>
                                                            <option value="Comercial / Vendedor">Comercial / Vendedor</option>
                                                            <option value="Restaurantes / Chef / Mozo">Restaurantes / Chef / Mozo</option>
                                                            <option value="Operario / Producción">Operario / Producción</option>
                                                            <option value="Medicina / Enfermería">Medicina / Enfermería</option>
                                                            <option value="Administrativo / Secretaría">Administrativo / Secretaría</option>
                                                            <option value="Call center / Atención al cliente">Call center / Atención al cliente</option>
                                                            <option value="Recursos Humanos">Recursos Humanos</option>
                                                            <option value="Maestro / Profesor">Maestro / Profesor</option>
                                                            <option value="Publicidad / Relaciones Públicas">Publicidad / Relaciones Públicas</option>
                                                            <option value="Marketing">Marketing</option>
                                                            <option value="Voluntario">Voluntario</option>
                                                            <option value="Ingeniero / Arquitecto">Ingeniero / Arquitecto</option>
                                                            <option value="Contador / Finanzas">Contador / Finanzas</option>
                                                            <option value="Hotelería / Turismo">Hotelería / Turismo</option>
                                                            <option value="Informática / Programador">Informática / Programador</option>
                                                            <option value="Abogado">Abogado</option>
                                                            <option value="Internet / Multimedia">Internet / Multimedia</option>
                                                            <option value="Animador / Actor / Artista">Animador / Actor / Artista</option>
                                                            <option value="Otros">Otros</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Salario Mínimo</label>
                                                        <input type="number" class="form-control" id="empleos-salariomin" placeholder="Salario Mínimo (en pesos argentinos)" onKeyPress="return soloNumeros(event)">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Salario Máximo</label>
                                                        <input type="number" class="form-control" id="empleos-salariomax" placeholder="Salario Máximo (en pesos argentinos)" onKeyPress="return soloNumeros(event)">
                                                    </div>
                                                </div>
                                                <!--HOGAR_MUEBLES-->
                                                <div class="row" id="hogarmuebles" style="display:none">
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Ambiente</label>
                                                        <input type="text" class="form-control" id="hogarmuebles-ambiente" placeholder="Ej: Cocina, Living, Comedor, Patio">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Condición</label>
                                                        <select class="form-control" id="hogarmuebles-condicion">
                                                            <option value="Nuevo">Nuevo</option>
                                                            <option value="Usado">Usado</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--INMUEBLES-->
                                                <div class="row" id="inmuebles" style="display:none">
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Operación</label>
                                                        <select class="form-control" id="inmuebles-operacion">
                                                            <option value="Alquiler">Alquiler</option>
                                                            <option value="Venta">Venta</option>
                                                        </select>
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Domicilio</label>
                                                        <input type="text" class="form-control" id="inmuebles-domicilio" placeholder="Domicilio">
                                                        <label id="inmuebles-habitacionestexto" class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Cantidad de habitaciones</label>
                                                        <input type="number" class="form-control" id="inmuebles-habitaciones" placeholder="Cant. de habitaciones" onKeyPress="return soloNumeros(event)">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Superficie (m²)</label>
                                                        <input type="number" class="form-control" id="inmuebles-superficie" placeholder="Superficie en m²" onKeyPress="return soloNumeros(event)">
                                                        <label id="inmuebles-banostexto" class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Cantidad de baños</label>
                                                        <input type="number" class="form-control" id="inmuebles-banos" placeholder="Cant. de baños" onKeyPress="return soloNumeros(event)">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Tipo Vendedor</label>
                                                        <select class="form-control" id="inmuebles-tipovendedor">
                                                            <option value="Particular">Particular</option>
                                                            <option value="Inmobiliaria">Inmobiliaria</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Condición</label>
                                                        <select class="form-control" id="inmuebles-condicion" style="margin-bottom:16px">
                                                            <option value="Nuevo">Nuevo</option>
                                                            <option value="Usado">Usado</option>
                                                        </select>
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px; margin-bottom:3px;">
                                                            <input type="checkbox" class="custom-control-input" id="inmuebles-patio" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="txtCheckPatio" for="inmuebles-patio">Tiene Patio</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px; margin-bottom:3px;">
                                                            <input type="checkbox" class="custom-control-input" id="inmuebles-cochera" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="txtCheckCochera" for="inmuebles-cochera">Tiene Cochera</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px; margin-bottom:3px;">
                                                            <input type="checkbox" class="custom-control-input" id="inmuebles-cloacas" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="txtCheckCloacas" for="inmuebles-cloacas">Tiene Cloacas</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px; margin-bottom:3px;">
                                                            <input type="checkbox" class="custom-control-input" id="inmuebles-gasnatural" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="txtCheckGasNatural" for="inmuebles-gasnatural">Tiene Gas Natural</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px; margin-bottom:3px;">
                                                            <input type="checkbox" class="custom-control-input" id="inmuebles-aguacaliente" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="txtCheckAguaCaliente" for="inmuebles-aguacaliente">Tiene Agua Caliente</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--VARIOS-->
                                                <div class="row" id="varios" style="display:none">
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Condición</label>
                                                        <select class="form-control" id="varios-condicion">
                                                            <option value="Nuevo">Nuevo</option>
                                                            <option value="Usado">Usado</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-4">
                                                <h5 id="palabraDescripcionProducto">Descripción del producto</h5>
                                                <span class="form-icon-wrapper">
                                                    <a class="text-center d-block" data-toggle="tooltip" data-placement="top" title="" data-original-title="Incluye estado, características y detalles que consideres relevantes">
                                                        <form>
                                                            <div class="form-group">
                                                                <textarea id="comentario" name="comentario" class="ckeditor" rows="6"></textarea> <!--form-control iba antes-->
                                                            </div>
                                                        </form>
                                                    </a>
                                                </span>
                                            </div>

                                            <!--estaba la carga de fotos aca-->
                                            <div class="form-group">
                                                <h5>Información de contacto</h5>
                                                <hr />
                                                <label class="u-font-size-90">Nombre</label>
                                                <div class="row" style="display: flex; margin-left:0px;">
                                                    <div class="col-sm-6 col-lg-6" style="margin-left:0px; padding:0px">
                                                        <span class="form-icon-wrapper">
                                                            <input type="text" class="form-control" maxlength="100" id="nombre-contacto" placeholder="Nombre" value="@Model.Nombre">
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6" style="margin-left:0px; padding:0px">
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left:15px;">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck1" checked="" disabled="">
                                                            <label class="custom-control-label u-font-size-90" for="customCheck1">Este campo será visible.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="u-font-size-90">Apellido</label>
                                                <div class="row" style="display: flex; margin-left:0px;">
                                                    <div class="col-sm-6 col-lg-6" style="margin-left:0px; padding:0px">
                                                        <span class="form-icon-wrapper">
                                                            <input type="text" class="form-control" maxlength="100" id="apellido-contacto" placeholder="Apellido" value="@Model.Apellido">
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px;">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="txtCheck2" for="customCheck2">Este campo será visible.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="u-font-size-90">Email</label>
                                                <div class="row" style="display: flex; margin-left:0px;">
                                                    <div class="col-sm-6 col-lg-6" style="margin-left:0px; padding:0px">
                                                        <span class="form-icon-wrapper">
                                                            <input type="email" maxlength="100" class="form-control" id="email-contacto" placeholder="Email" value="@Model.Email">
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px;">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck3" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="txtCheck3" for="customCheck3">Este campo será visible.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="u-font-size-90">Celular</label>
                                                <div class="row" style="display: flex; margin-left:0px;">
                                                    <div class="col-sm-6 col-lg-6" style="margin-left:0px; padding:0px">
                                                        <span class="form-icon-wrapper">
                                                            <input type="number" maxlength="100" class="form-control" id="celular-contacto" placeholder="Celular" value="@Model.Celular" onKeyPress="return soloNumeros(event)">
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px;">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck4" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="txtCheck4" for="customCheck4">Este campo será visible.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="u-font-size-90">Teléfono</label>
                                                <div class="row" style="display: flex; margin-left:0px;">
                                                    <div class="col-sm-6 col-lg-6" style="margin-left:0px; padding:0px">
                                                        <span class="form-icon-wrapper">
                                                            <input type="number" maxlength="100" class="form-control" id="telefono-contacto" placeholder="Teléfono" value="@Model.Telefono" onKeyPress="return soloNumeros(event)">
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px;">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck5" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="txtCheck5" for="customCheck5">Este campo será visible.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="u-font-size-90">Domicilio</label>
                                                <div class="row" style="display: flex; margin-left:0px;">
                                                    <div class="col-sm-6 col-lg-6" style="margin-left:0px; padding:0px">
                                                        <span class="form-icon-wrapper">
                                                            <input type="text" maxlength="100" class="form-control" id="domicilio-contacto" placeholder="Domicilio" value="@Model.Domicilio">
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px;">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck6" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="txtCheck6" for="customCheck6">Este campo será visible.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="u-font-size-90">Localidad del contacto</label>
                                                <div class="row" style="display: flex; margin-left:0px;">
                                                    <div class="col-sm-6 col-lg-6" style="margin-left:0px; padding:0px">
                                                        <span class="form-icon-wrapper">
                                                            <input type="text" maxlength="100" class="form-control" id="localidad-contacto" placeholder="Localidad" value="@Model.Localidad">
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6">
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px;">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck7" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="txtCheck7" for="customCheck7">Este campo será visible.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Fin contacto-->
                                            </div>
                                            <div class="row" style="display:flex;">
                                                <div class="col-sm-6 col-lg-6">
                                                    <div style="text-align:left; justify-content:flex-start">
                                                        <a class="btn btn-primary" id="btnVolver" style="margin-top:15px;" href="@Url.Action("Create","Post")">« Volver</a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-lg-6">
                                                    <div style="text-align:right; justify-content:flex-end; color:white">
                                                        <a class="btn btn-primary" id="btnContinuarCreate_2" style="margin-top:15px; color:white">Continuar »</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- End Card Body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1" style="margin-top:10px;">


                </div>
            </div>
            <div class="col-sm-1 col-md-1">

            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckeditor/adapters/jquery.js"></script>
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script type="text/javascript">
    $('#titulo-categoria').text(sessionStorage.getItem("categoria"));
    $('#titulo-sub-categoria').text(sessionStorage.getItem("sub-categoria"));
    if ($('#titulo-categoria').text() == '@StaticCategorias.Automotores' || $('#titulo-categoria').text() == '@StaticCategorias.Agro' || $('#titulo-categoria').text() == '@StaticCategorias.Automotores' || $('#titulo-categoria').text() == '@StaticCategorias.Inmuebles' || $('#titulo-categoria').text() == '@StaticCategorias.Electronica') {
        if ('@Model.PautaPublicitaria' == '' || '@Model.PautaPublicitaria' == null) {
            $('#cartel-pauta-publicitaria').show();
        }
    }
    $(document).ready(function () {
        if ($('#titulo-categoria').text() == '@StaticCategorias.Empleos') {
            $('#palabraPrecio').text("Remuneración");
            $('#palabraLocalidadProducto').text("Localidad del puesto");
            $('#palabraDescripcionProducto').text("Descripción del puesto");
            $('#lblCaracteristicas').text("Características del puesto");
        }
        if ($('#titulo-sub-categoria').text().trim().toUpperCase() == "AUTOPARTES Y ACCESORIOS") {
            $('#automotores-modelo').hide();
            $('#automotores-modelotexto').hide();
            $('#automotores-anotexto').hide();
            $('#automotores-ano').hide();
            $('#automotores-combustible').hide();
            $('#automotores-combustibletexto').hide();
            $('#automotores-cilindradatexto').hide();
            $('#automotores-cilindrada').hide();
            $('#automotores-kmtexto').hide();
            $('#automotores-km').hide();
        }
        if ($('#titulo-sub-categoria').text().trim().toUpperCase() == "LOTEOS Y TERRENOS" || $('#titulo-sub-categoria').text().trim().toUpperCase() == "CAMPOS") {
            $('#inmuebles-habitaciones').hide();
            $('#inmuebles-habitacionestexto').hide();
            $('#inmuebles-banos').hide();
            $('#inmuebles-banostexto').hide();
            $('#inmuebles-patio').attr('disabled', true);
            $('#inmuebles-cochera').attr('disabled', true);
        }
        if ($('#titulo-categoria').text() == '@StaticCategorias.Servicios' || $('#titulo-categoria').text() == '@StaticCategorias.Inmuebles') {
            $('#palabraLocalidadProducto').text("Localidad");
            if ($('#titulo-categoria').text() == '@StaticCategorias.Servicios') {
                $('#palabraDescripcionProducto').text("Descripción del servicio");
            }
        }
        //MUESTRO CARACTERISTICAS SEGUN DESCRIPCION
        let campos_requeridos = []
        let campos_enviar = []
        let datos_campos_enviar = []
        switch ($('#titulo-categoria').text().trim().toUpperCase()) {
            case "AUTOMOTORES":
                $('#automotores').show()
                if ($('#titulo-sub-categoria').text().trim().toUpperCase() != "AUTOPARTES Y ACCESORIOS") {
                    campos_requeridos.push('#automotores-modelo', '#automotores-ano')
                }
                campos_enviar.push('#automotores-marca', '#automotores-modelo','#automotores-ano','#automotores-combustible','#automotores-km','#automotores-cilindrada','#automotores-condicion','#automotores-tipovendedor')
                break;
            case "AGRO":
                $('#agro').show()
                campos_enviar.push('#agro-sector', '#agro-condicion')
                break;
            case "ANIMALES":
                $('#animales').show()
                campos_enviar.push('#animales-tipo')
                break;
            case "BEBES Y NIÑOS":
                $('#bebesninos').show()
                campos_requeridos.push('#bebesninos-edad')
                campos_enviar.push('#bebesninos-edad','#bebesninos-condicion')
                break;
            case "ELECTRÓNICA":
                $('#electronica').show()
                campos_enviar.push('#electronica-condicion')
                break;
            case "HOGAR Y MUEBLES":
                $('#hogarmuebles').show()
                campos_requeridos.push('#hogarmuebles-ambiente')
                campos_enviar.push('#hogarmuebles-ambiente','#hogarmuebles-condicion')
                break;
            case "INMUEBLES":
                $('#inmuebles').show()
                campos_enviar.push('#inmuebles-domicilio','#inmuebles-habitaciones','#inmuebles-superficie','#inmuebles-banos','#inmuebles-operacion','#inmuebles-tipovendedor','#inmuebles-condicion','#inmuebles-patio','#inmuebles-cochera','#inmuebles-cloacas','#inmuebles-gasnatural','#inmuebles-aguacaliente')
                break;
            case "EMPLEOS":
                $('#empleos').show()
                campos_requeridos.push('#empleos-experiencia','#empleos-rubro')
                campos_enviar.push('#empleos-experiencia','#empleos-rubro','#empleos-salariomin','#empleos-salariomax')
                break;
            case "VARIOS":
                $('#varios').show()
                campos_enviar.push('#varios-condicion')
                break;
            default:
                $('#lblCaracteristicas').hide()
                $('#separadorCaracteristicas').hide()
        }

        if ('@Model.PuedePublicar' == 'False') {
            Swal.fire({
                title: '¡Has llegado al número máximo de publicaciones en esta categoría!',
                icon: 'error',
                confirmButtonColor: '#59287a',
                showCancelButton: false,
                allowOutsideClick: false,
                text: '¡Comunicate con ONIX para contratar una pauta publicitaria y publicar avisos ilimitados y destacarlos gratuitamente!',
                backdrop: `
                    rgba(206, 9, 9, 0.6)
                    `
            }).then((avanzar) => {
                if (avanzar) {
                    window.location.href = '/Post/Create'
                }
            });
        }

        $('#txtPrecio').blur(function() {
            if ($(this).val() <= 0) {
                $('#txtPrecio').val("")
            }
            if (isNaN($(this).val())) {
                Swal.fire({
                    title: '¡El número ingresado no es válido!',
                    icon: 'error',
                    confirmButtonColor: '#59287a',
                    text: 'Inténtalo nuevamente.',
                    backdrop: `
                    rgba(206, 9, 9, 0.6)
                    `
                })
            }
        });


        $('#customCheck2').change(function () {
            if (this.checked) {
                $("#txtCheck2").prop("innerHTML", "Este campo será visible.");
            } else {
                $("#txtCheck2").prop("innerHTML", "Este campo no será visible.");
            }
        });
        $('#customCheck3').change(function () {
            if (this.checked) {
                $("#txtCheck3").prop("innerHTML", "Este campo será visible.");
            } else {
                $("#txtCheck3").prop("innerHTML", "Este campo no será visible.");
            }
        });
        $('#customCheck4').change(function () {
            if (this.checked) {
                $("#txtCheck4").prop("innerHTML", "Este campo será visible.");
            } else {
                $("#txtCheck4").prop("innerHTML", "Este campo no será visible.");
            }
        });
        $('#customCheck5').change(function () {
            if (this.checked) {
                $("#txtCheck5").prop("innerHTML", "Este campo será visible.");
            } else {
                $("#txtCheck5").prop("innerHTML", "Este campo no será visible.");
            }
        });
        $('#customCheck6').change(function () {
            if (this.checked) {
                $("#txtCheck6").prop("innerHTML", "Este campo será visible.");
            } else {
                $("#txtCheck6").prop("innerHTML", "Este campo no será visible.");
            }
        });
        $('#customCheck7').change(function () {
            if (this.checked) {
                $("#txtCheck7").prop("innerHTML", "Este campo será visible.");
            } else {
                $("#txtCheck7").prop("innerHTML", "Este campo no será visible.");
            }
        });
        $('#btnContinuarCreate_2').on('click', function () {
            //Obtengo datos de DESCRIPCION
            var descripcion = CKEDITOR.instances["comentario"].getData()
            //Controlo campos completos
            if ($('#titulo').val() != "" && $('#titulo').val() != null) {
                if ($('#localidad-producto').val() != "" && $('#localidad-producto').val() != null) {
                    if (descripcion != "" && descripcion != null) {
                        let campos_requeridos_completos = true
                        campos_requeridos.forEach(function(campo, index) {
                            if ($(campo).val() == "" || $(campo).val() == null) {
                                campos_requeridos_completos = false
                            }
                        });
                        if (campos_requeridos_completos) {
                            let campos_contacto_completos = true
                            if ($('#nombre-contacto').val() == "" || $('#nombre-contacto').val() == null) {
                                campos_contacto_completos = false
                            }
                            if ($('#apellido-contacto').val() == "" || $('#apellido-contacto').val() == null) {
                                campos_contacto_completos = false
                            }
                            if ($('#email-contacto').val() == "" || $('#email-contacto').val() == null) {
                                campos_contacto_completos = false
                            }
                            if ($('#celular-contacto').val() == "" || $('#celular-contacto').val() == null) {
                                campos_contacto_completos = false
                            }
                            if ($('#domicilio-contacto').val() == "" || $('#domicilio-contacto').val() == null) {
                                campos_contacto_completos = false
                            }
                            if ($('#localidad-contacto').val() == "" || $('#localidad-contacto').val() == null) {
                                campos_contacto_completos = false
                            }
                            if (campos_contacto_completos) {
                                //Cargo info de campos de caracteristicas
                                campos_enviar.forEach(function (field, index) {
                                    let final_field = field.split('-') //le saco el numeral
                                    let inputType = $(field).attr('type');
                                    if (inputType == "checkbox") {
                                        let array_campo_valor = [final_field[1], $(field).prop('checked')]
                                        datos_campos_enviar.push(array_campo_valor)
                                    } else {
                                        let array_campo_valor = [final_field[1], $(field).val()]
                                        datos_campos_enviar.push(array_campo_valor)
                                    }
                                });
                                if ($('#txtPrecio').val() == "" || $('#txtPrecio').val() == null) {
                                    Swal.fire({
                                        title: '¿Estás seguro de no colocar un precio a tu publicación?',
                                        text: 'Las publicaciones sin precio (en consultar) son menos atractivas para los usuarios.',
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonText: 'Sí, estoy seguro.',
                                        cancelButtonText: '¡No, cancelar!',
                                        confirmButtonColor: '#0dd157',
                                        cancelButtonColor: '#fb4143',
                                        reverseButtons: true
                                    })
                                    .then((avanzar) => {
                                        if (avanzar.value) {
                                            sessionStorage.setItem("titulo", $('#titulo').val());
                                            sessionStorage.setItem("moneda", $("#moneda option:selected").text());
                                            sessionStorage.setItem("precio", $('#txtPrecio').val());
                                            sessionStorage.setItem("localidad-producto", $('#localidad-producto').val());
                                            sessionStorage.setItem("descripcion", descripcion);
                                            sessionStorage.setItem("nombre-contacto", $('#nombre-contacto').val());
                                            sessionStorage.setItem("apellido-contacto", $('#apellido-contacto').val());
                                            sessionStorage.setItem("email-contacto", $('#email-contacto').val());
                                            sessionStorage.setItem("celular-contacto", $('#celular-contacto').val());
                                            sessionStorage.setItem("telefono-contacto", $('#telefono-contacto').val());
                                            sessionStorage.setItem("domicilio-contacto", $('#domicilio-contacto').val());
                                            sessionStorage.setItem("localidad-contacto", $('#localidad-contacto').val());
                                            sessionStorage.setItem("caracteristicas", JSON.stringify(datos_campos_enviar));
                                            sessionStorage.setItem("apellido-visible", $('#customCheck2').prop('checked'));
                                            sessionStorage.setItem("email-visible", $('#customCheck3').prop('checked'));
                                            sessionStorage.setItem("celular-visible", $('#customCheck4').prop('checked'));
                                            sessionStorage.setItem("telefonofijo-visible", $('#customCheck5').prop('checked'));
                                            sessionStorage.setItem("direccion-visible", $('#customCheck6').prop('checked'));
                                            sessionStorage.setItem("localidadcontacto-visible", $('#customCheck7').prop('checked'));
                                            //campos_enviar.forEach(function (campo, index) {
                                            //    let campo_final = campo.substr(1,campo.length) //le saco el numeral y lo guardo como clave
                                            //    sessionStorage.setItem(campo_final,$(campo).val())
                                            //});
                                            window.location.href = '@Url.Action("Create_Image","Post")';
                                        }
                                    });
                                } else {
                                    sessionStorage.setItem("titulo", $('#titulo').val());
                                    sessionStorage.setItem("moneda", $("#moneda option:selected").text());
                                    sessionStorage.setItem("precio", $('#txtPrecio').val());
                                    sessionStorage.setItem("localidad-producto", $('#localidad-producto').val());
                                    sessionStorage.setItem("descripcion", descripcion);
                                    sessionStorage.setItem("nombre-contacto", $('#nombre-contacto').val());
                                    sessionStorage.setItem("apellido-contacto", $('#apellido-contacto').val());
                                    sessionStorage.setItem("email-contacto", $('#email-contacto').val());
                                    sessionStorage.setItem("celular-contacto", $('#celular-contacto').val());
                                    sessionStorage.setItem("telefono-contacto", $('#telefono-contacto').val());
                                    sessionStorage.setItem("domicilio-contacto", $('#domicilio-contacto').val());
                                    sessionStorage.setItem("localidad-contacto", $('#localidad-contacto').val());
                                    sessionStorage.setItem("caracteristicas", JSON.stringify(datos_campos_enviar));
                                    sessionStorage.setItem("apellido-visible", $('#customCheck2').prop('checked'));
                                    sessionStorage.setItem("email-visible", $('#customCheck3').prop('checked'));
                                    sessionStorage.setItem("celular-visible", $('#customCheck4').prop('checked'));
                                    sessionStorage.setItem("telefonofijo-visible", $('#customCheck5').prop('checked'));
                                    sessionStorage.setItem("direccion-visible", $('#customCheck6').prop('checked'));
                                    sessionStorage.setItem("localidadcontacto-visible", $('#customCheck7').prop('checked'));
                                    //campos_enviar.forEach(function (campo, index) {
                                    //    let campo_final = campo.substr(1,campo.length) //le saco el numeral y lo guardo como clave
                                    //    sessionStorage.setItem(campo_final,$(campo).val())
                                    //});
                                    window.location.href = '@Url.Action("Create_Image","Post")';
                                }
                            } else {
                                Swal.fire({
                                    title: '¡Campos de contacto incompletos!',
                                    icon: 'error',
                                    confirmButtonColor: '#59287a',
                                    text: 'Por favor, completa estos campos antes de continuar.',
                                    backdrop: `
                                    rgba(206, 9, 9, 0.6)
                                    `
                                })
                            }
                        } else {
                            Swal.fire({
                                title: '¡Campos de características incompletos!',
                                icon: 'error',
                                confirmButtonColor: '#59287a',
                                text: 'Por favor, completa estos campos antes de continuar.',
                                backdrop: `
                                rgba(206, 9, 9, 0.6)
                                `
                            })
                        }
                    } else {
                        Swal.fire({
                            title: '¡Debes colocar una descripción a tu producto / servicio!',
                            icon: 'error',
                            confirmButtonColor: '#59287a',
                            text: 'Por favor, colocale una para poder continuar.',
                            backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                        })
                    }
                } else {
                    Swal.fire({
                        title: '¡Debes colocar la ubicación de tu producto / servicio!',
                        icon: 'error',
                        confirmButtonColor: '#59287a',
                        text: 'Por favor, colocale una para poder continuar.',
                        backdrop: `
                        rgba(206, 9, 9, 0.6)
                        `
                    })
                }
            } else {
                Swal.fire({
                    title: '¡No le colocaste un título a tu publicación!',
                    icon: 'error',
                    confirmButtonColor: '#59287a',
                    text: 'Por favor, colocale uno para poder continuar.',
                    backdrop: `
                    rgba(206, 9, 9, 0.6)
                    `
                })
            }
        })
    });
</script>
