﻿@using Onix.Models;
@model List<PostExtendedViewModels>
@{
    Html.RenderAction("_Navigation", "User");
}
<body style="overflow-x:hidden;">
    @{
        Html.RenderAction("_Sidebar", "Category");
    }
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2">

            </div>
            <div class="col-sm-8 col-md-8" style="margin-top:25px;">
                <div class="tab-content" id="blockquotes-tabContent" style="margin-bottom:8px;">
                    <div class="tab-pane fade active show" id="blockquotes-left-1" role="tabpanel" aria-labelledby="blockquotes-left-tab-1">
                        <!-- Left Bordered -->
                        <blockquote class="blockquote-v1 blockquote-v1--bottom" style="margin-bottom:0px;">
                            <h4 style="font-weight:bold; margin-bottom:3px; text-align:center;">MIS FAVORITOS</h4>
                        </blockquote>
                        <!-- End Left Bordered -->
                    </div>
                </div>
                @{
                    if (Model.Count == 0)
                    {
                        <div style="display:flex; justify-content:center">
                            <span class="badge badge-primary" style="margin-bottom:0px; font-size:24px;"> ¡No hay publicaciones!</span>
                        </div>
                    }
                    else
                    {
                        foreach (var post in Model)
                        {
                            if (post.Prioridad == 3)
                            {
                                <div class="tarjeta-categoria" href="@Url.Action("Index", "Post", new { id = post.IdPost})" style="cursor:pointer; margin-bottom:10px; overflow:hidden">
                                    <div class="card shadow mb-4">
                                        <img src="~/Content/img/tick_onix.png" style="position:absolute; right:10px; top:10px; height:25px;" />
                                        <div class="card-header py-3" style="background: linear-gradient(to bottom, rgba(0, 118, 214, 0.43) 0%, rgba(0, 118, 214, 0.43) 35%">
                                            <h6 class="m-0 font-weight-bold">@post.Titulo</h6>
                                            <p style="right:0;top:55px; position:absolute; margin:8px; color:gray">@post.Fecha.ToShortDateString()</p>
                                        </div>
                                        <div class="card-body" style="height:162px; padding:0px; margin:0px; overflow:hidden">
                                            <div class="row" style="padding:0px;">
                                                <div class="col-sm-3 col-md-3" style="margin:0px;">
                                                    <div class="imagen-panel">
                                                        @{
                                                            if (post.Imagen != null)
                                                            {
                                                                <img class="imagen-tarjeta" src="data:image;base64,@System.Convert.ToBase64String(post.Imagen)" alt="" style="vertical-align:middle;">
                                                            }
                                                            else
                                                            {
                                                                <img class="imagen-tarjeta" src="@Url.Content("~/Content/img/Onix_Logo_6.jpg")" alt="" style="vertical-align:middle;">
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-sm-9 col-md-9" style="margin:0px; position:relative; bottom:0; left:0;">
                                                    @{
                                                        if (post.Precio > 0)
                                                        {
                                                            <h2 style="color:#59287a; margin-top:8px;">
                                                                @post.Moneda@post.Precio.ToString("N0")
                                                                @{
                                                                    if (post.PermiteCanjes)
                                                                    {
                                                                        <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; margin-left:10px; font-size:15px; vertical-align:middle;">Acepta canjes</span>
                                                                    }
                                                                    if (post.PermiteCuotas)
                                                                    {
                                                                        <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle; background-color:#ffd800">Acepta cuotas</span>
                                                                    }
                                                                    if (post.PermiteContraOfertas)
                                                                    {
                                                                        <span class="badge badge-success" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle;">Acepta contraofertas</span>
                                                                    }
                                                                }
                                                            </h2>
                                                        }
                                                        else
                                                        {
                                                            <h2 style="color:#59287a; margin-top:8px;">
                                                                Consultar
                                                                @{
                                                                    if (post.PermiteCanjes)
                                                                    {
                                                                        <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; margin-left:10px; font-size:15px; vertical-align:middle;">Acepta canjes</span>
                                                                    }
                                                                    if (post.PermiteCuotas)
                                                                    {
                                                                        <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle; background-color:#ffd800">Acepta cuotas</span>
                                                                    }
                                                                    if (post.PermiteContraOfertas)
                                                                    {
                                                                        <span class="badge badge-success" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle;">Acepta contraofertas</span>
                                                                    }
                                                                }
                                                            </h2>
                                                        }
                                                    }

                                                    <p style="margin:0px;">
                                                        @Html.Raw(Server.HtmlDecode(post.Descripcion))
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                if (post.Prioridad == 2)
                                {
                                    <div class="tarjeta-categoria" href="@Url.Action("Index", "Post", new { id = post.IdPost})" style="margin-bottom:10px; cursor:pointer; overflow:hidden">
                                        <div class="card shadow mb-4">
                                            <img src="~/Content/img/tick_celeste.png" style="position:absolute; right:10px; top:10px; height:25px;" />
                                            <div class="card-header py-3" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 35%">
                                                <h6 class="m-0 font-weight-bold">@post.Titulo</h6>
                                            </div>
                                            <div class="card-body" style="height:162px; padding:0px; margin:0px; overflow:hidden">
                                                <div class="row" style="padding:0px;">
                                                    <div class="col-sm-3 col-md-3" style="margin:0px;">
                                                        <div class="imagen-panel">
                                                            @{
                                                                if (post.Imagen != null)
                                                                {
                                                                    <img class="imagen-tarjeta" src="data:image;base64,@System.Convert.ToBase64String(post.Imagen)" alt="" style="vertical-align:middle;">
                                                                }
                                                                else
                                                                {
                                                                    <img class="imagen-tarjeta" src="@Url.Content("~/Content/img/Onix_Logo_6.jpg")" alt="" style="vertical-align:middle;">
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9 col-md-9" style="margin:0px; position:relative; bottom:0; left:0;">
                                                        @{
                                                            if (post.Precio > 0)
                                                            {
                                                                <h2 style="color:#59287a; margin-top:8px;">
                                                                    @post.Moneda@post.Precio.ToString("N0")
                                                                    @{
                                                                        if (post.PermiteCanjes)
                                                                        {
                                                                            <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; margin-left:10px; font-size:15px; vertical-align:middle;">Acepta canjes</span>
                                                                        }
                                                                        if (post.PermiteCuotas)
                                                                        {
                                                                            <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle; background-color:#ffd800">Acepta cuotas</span>
                                                                        }
                                                                        if (post.PermiteContraOfertas)
                                                                        {
                                                                            <span class="badge badge-success" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle;">Acepta contraofertas</span>
                                                                        }
                                                                    }
                                                                </h2>
                                                            }
                                                            else
                                                            {
                                                                <h2 style="color:#59287a; margin-top:8px;">
                                                                    Consultar
                                                                    @{
                                                                        if (post.PermiteCanjes)
                                                                        {
                                                                            <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; margin-left:10px; font-size:15px; vertical-align:middle;">Acepta canjes</span>
                                                                        }
                                                                        if (post.PermiteCuotas)
                                                                        {
                                                                            <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle; background-color:#ffd800">Acepta cuotas</span>
                                                                        }
                                                                        if (post.PermiteContraOfertas)
                                                                        {
                                                                            <span class="badge badge-success" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle;">Acepta contraofertas</span>
                                                                        }
                                                                    }
                                                                </h2>
                                                            }
                                                        }

                                                        <p style="margin:0px;">
                                                            @Html.Raw(Server.HtmlDecode(post.Descripcion))
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="tarjeta-categoria" href="@Url.Action("Index", "Post", new { id = post.IdPost})" style="margin-bottom:10px; cursor:pointer; overflow:hidden">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold">@post.Titulo</h6>
                                            </div>
                                            <div class="card-body" style="height:162px; padding:0px; margin:0px; overflow:hidden">
                                                <div class="row" style="padding:0px;">
                                                    <div class="col-sm-3 col-md-3" style="margin:0px;">
                                                        <div class="imagen-panel">
                                                            @{
                                                                if (post.Imagen != null)
                                                                {
                                                                    <img class="imagen-tarjeta" src="data:image;base64,@System.Convert.ToBase64String(post.Imagen)" alt="" style="vertical-align:middle;">
                                                                }
                                                                else
                                                                {
                                                                    <img class="imagen-tarjeta" src="@Url.Content("~/Content/img/Onix_Logo_6.jpg")" alt="" style="vertical-align:middle;">
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9 col-md-9" style="margin:0px; position:relative; bottom:0; left:0;">
                                                        @{
                                                            if (post.Precio > 0)
                                                            {
                                                                <h2 style="color:#59287a; margin-top:8px;">
                                                                    @post.Moneda@post.Precio.ToString("N0")
                                                                    @{
                                                                        if (post.PermiteCanjes)
                                                                        {
                                                                            <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; margin-left:10px; font-size:15px; vertical-align:middle;">Acepta canjes</span>
                                                                        }
                                                                        if (post.PermiteCuotas)
                                                                        {
                                                                            <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle; background-color:#ffd800">Acepta cuotas</span>
                                                                        }
                                                                        if (post.PermiteContraOfertas)
                                                                        {
                                                                            <span class="badge badge-success" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle;">Acepta contraofertas</span>
                                                                        }
                                                                    }
                                                                </h2>
                                                            }
                                                            else
                                                            {
                                                                <h2 style="color:#59287a; margin-top:8px;">
                                                                    Consultar
                                                                    @{
                                                                        if (post.PermiteCanjes)
                                                                        {
                                                                            <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; margin-left:10px; font-size:15px; vertical-align:middle;">Acepta canjes</span>
                                                                        }
                                                                        if (post.PermiteCuotas)
                                                                        {
                                                                            <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle; background-color:#ffd800">Acepta cuotas</span>
                                                                        }
                                                                        if (post.PermiteContraOfertas)
                                                                        {
                                                                            <span class="badge badge-success" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle;">Acepta contraofertas</span>
                                                                        }
                                                                    }
                                                                </h2>
                                                            }
                                                        }

                                                        <p style="margin:0px;">
                                                            @Html.Raw(Server.HtmlDecode(post.Descripcion))
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        }
                    }
                }
            </div>
            <div class="col-sm-2 col-md-2">

            </div>
        </div>
    </div>
</body>
@Html.Partial("_Footer")
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
    $(document).ready(function () {
        $('.tarjeta-categoria').click(function () {
            let urlPost = $(this).attr('href');
            window.location.href = urlPost;
        });
    });
</script>