﻿@using Onix.Models
@model DestacarAvisoViewModels
<body style="overflow-x:hidden">
    <div class="row" style="margin-top:-60px;">
        <div class="col-lg-2">
            <a class="btn btn-primary" href="@Url.Action("Index","Profile", new { id = Model.IdUsuario})" style="margin:25px; color:white; box-shadow:0 2px 5px 0 rgba(255, 255, 255, 0.16), 0 2px 10px 0 rgba(255, 255, 255, 0.4); ">← Volver</a>
        </div>
        <div class="col-lg-8">
            <div class="single category" style="padding: 12px; border:solid 0.25rem #59287a; background:linear-gradient(to bottom, #59287a 8%,white 12%); box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.4);">
                <h4 style="font-weight:bold; margin-bottom:3px; color:white; text-align:center;">DESTACÁ TU AVISO</h4>
                <hr style="border-color:#59287a; border:none; height:3px; background-color:#59287a;" />
                <h5 style="text-align:left"><b>Período premium</b></h5>
                <hr style="border-color:#59287a; margin-top:0px;" />
                <div class="row">
                    <div class="col-sm-4 col-lg-4">
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" class="custom-control-input" name="destacar-aviso-dias" id="radio-3-dias" value="radio-3-dias" checked>
                            <label class="custom-control-label u-font-size-90" for="radio-3-dias">Premium por 3 días</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4">
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" class="custom-control-input" name="destacar-aviso-dias" id="radio-7-dias" value="radio-7-dias">
                            <label class="custom-control-label u-font-size-90" for="radio-7-dias">Premium por 7 días</label>
                        </div>
                    </div>
                </div>
                <h5 style="text-align:left"><b>Tipo premium</b></h5>
                <hr style="border-color:#59287a; margin-top:0px;" />
                <div class="row">
                    <div class="col-sm-4 col-lg-4">
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" class="custom-control-input" name="destacar-aviso-tipo" id="radio-estandar" value="radio-estandar" checked>
                            <label id="monto-basico" class="custom-control-label u-font-size-90" for="radio-estandar">Premium Básico <b>($104)</b></label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4">
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" class="custom-control-input" name="destacar-aviso-tipo" id="radio-avanzado" value="radio-avanzado">
                            <label id="monto-full" class="custom-control-label u-font-size-90" for="radio-avanzado">Premium Full <b>($208)</b><label style="color:red; margin-left:5px;"><b>+1 día gratis!</b></label></label>
                        </div>
                    </div>
                </div>
                <hr style="border-color:#59287a; border:none; height:3px; background-color:#59287a;" />
                <h5 style="font-weight:bold; margin-bottom:8px; color:black; text-align:center;">Previsualización de tu aviso</h5>
                @*DESTACADO FULL*@
                <div class="row" id="tarjeta-destacado-full" style="display:none">
                    <div class="col-lg-3 divDestacado" style="text-align:center; align-content:center; align-items:center; width:100%;position:relative; right:-37%">
                        <a class="card-inicio">
                            <figure class="rounded p-2 bg-white shadow-sm" style="height:220px; background: linear-gradient(to bottom, rgba(0, 118, 214, 0.43) 0%, rgba(0, 118, 214, 0.43) 35% ">
                                <img src="~/Content/img/tick_onix.png" style="position:absolute; left:10px; top:10px; height:25px;" />
                                <div class="contenedor-imagen-inicio">
                                    @{
                                        if (Model.Imagen != null)
                                        {

                                            <img class="imagen-tarjeta" src="data:image;base64,@System.Convert.ToBase64String(Model.Imagen)" alt="">
                                        }
                                        else
                                        {
                                            <img class="imagen-tarjeta" src="@Url.Content("~/Content/img/Onix_Logo_6.jpg")" alt="">
                                        }
                                    }
                                </div>
                                <figcaption class="p-0 card-img-bottom" style="text-align:center; margin-top:5px;">
                                    <h6 class="font-weight-bold subtitulo-tarjeta">@Model.Titulo</h6>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                @*DESTACADO BASICO*@
                <div class="row" id="tarjeta-destacado-basico">
                    <div class="col-lg-3 divDestacado" style="text-align:center; align-content:center; align-items:center; width:100%;position:relative; right:-37%">
                        <a class="card-inicio">
                            <figure class="rounded p-2 bg-white shadow-sm" style="height:220px; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 35%">
                                <img src="~/Content/img/tick_celeste.png" style="position:absolute; left:10px; top:10px; height:25px;" />
                                <div class="contenedor-imagen-inicio">
                                    @{
                                        if (Model.Imagen != null)
                                        {

                                            <img class="imagen-tarjeta" src="data:image;base64,@System.Convert.ToBase64String(Model.Imagen)" alt="">
                                        }
                                        else
                                        {
                                            <img class="imagen-tarjeta" src="@Url.Content("~/Content/img/Onix_Logo_6.jpg")" alt="">
                                        }
                                    }
                                </div>
                                <figcaption class="p-0 card-img-bottom" style="text-align:center; margin-top:5px;">
                                    <h6 class="font-weight-bold subtitulo-tarjeta">@Model.Titulo</h6>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12" style="padding:0px; text-align:center;">
                        <div style="padding:0px;">
                            @*BOTONES DE PAGO MERCADOPAGO*@
                            <div id="btn-destacar-4-estandar" style="padding:15px;">
                                <a class="btn btn-primary pagar" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=585733328-c8e5153a-b01e-4f3d-a9e2-2f1f8ba291c7">Pagar</a>
                            </div>

                            <div id="btn-destacar-4-avanzado" style="padding:15px; display:none;">
                                <a class="btn btn-primary pagar" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=585733328-c3000dc0-e553-48f8-8410-d49fa57eef61">Pagar</a>
                            </div>

                            <div id="btn-destacar-8-estandar" style="padding:15px; display:none;">
                                <a class="btn btn-primary pagar" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=585733328-b228d7eb-0275-4e0f-b4d3-71654b124dbc">Pagar</a>
                            </div>

                            <div id="btn-destacar-8-avanzado" style="padding:15px; display:none;">
                                <a class="btn btn-primary pagar" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=585733328-171859b2-6b44-49be-ae2b-c559e2907ff1">Pagar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</body>
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script type="text/javascript">
    $(document).ready(function () {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('.divDestacado').css('right','0%')
        }
        if ('@Model.estaDestacado' == 'True') {
            Swal.fire({
                title: '¡Tu aviso ya está destacado!',
                icon: 'warning',
                confirmButtonColor: '#59287a',
                text: "Deberás esperar que termine el período de destacamiento para volver a destacarlo por el mismo u otro plan.",
                backdrop: `
                rgba(9, 206, 45, 0.6)
                `
            }).then((avanzar) => {
                if (avanzar.value) {
                    window.location.href = '/Profile/Index/' + '@Model.IdUsuario'
                }
            });
        }
        //var alertAvisoPublicado = document.getElementById("avisoPublicado").style.display = "none"; USAR PARA DESTACAR AVISO CORRECTO
        var boton_a_ocultar = "#btn-destacar-4-estandar";
        $('.custom-control-input').change(function () { //cuando cualquiera de los radios cambia, obtengo el valor de los checked
            switch ($("input[name='destacar-aviso-dias']:checked").val()) {
                case 'radio-3-dias':
                    switch ($("input[name='destacar-aviso-tipo']:checked").val()) {
                        case 'radio-estandar':
                            $(boton_a_ocultar).hide();
                            $("#btn-destacar-4-estandar").show();
                            boton_a_ocultar = $("#btn-destacar-4-estandar");
                            sessionStorage.setItem("post-aviso-destacado", '@Model.IdPost');
                            sessionStorage.setItem("prioridad-aviso-destacado", 2);
                            sessionStorage.setItem("fecha-aviso-destacado", '@DateTime.Now');
                            sessionStorage.setItem("dias-aviso-destacado", 3);
                            break;
                        case 'radio-avanzado':
                            $(boton_a_ocultar).hide();
                            $("#btn-destacar-4-avanzado").show();
                            boton_a_ocultar = $("#btn-destacar-4-avanzado");
                            sessionStorage.setItem("post-aviso-destacado", '@Model.IdPost');
                            sessionStorage.setItem("prioridad-aviso-destacado", 3);
                            sessionStorage.setItem("fecha-aviso-destacado", '@DateTime.Now');
                            sessionStorage.setItem("dias-aviso-destacado", 3);
                            break;
                    }
                    break;
                case 'radio-7-dias':
                    switch ($("input[name='destacar-aviso-tipo']:checked").val()) {
                        case 'radio-estandar':
                            $(boton_a_ocultar).hide();
                            $("#btn-destacar-8-estandar").show();
                            boton_a_ocultar = $("#btn-destacar-8-estandar");
                            sessionStorage.setItem("post-aviso-destacado", '@Model.IdPost');
                            sessionStorage.setItem("prioridad-aviso-destacado", 2);
                            sessionStorage.setItem("fecha-aviso-destacado", '@DateTime.Now');
                            sessionStorage.setItem("dias-aviso-destacado", 7);
                            break;
                        case 'radio-avanzado':
                            $(boton_a_ocultar).hide();
                            $("#btn-destacar-8-avanzado").show();
                            boton_a_ocultar = $("#btn-destacar-8-avanzado");
                            sessionStorage.setItem("post-aviso-destacado", '@Model.IdPost');
                            sessionStorage.setItem("prioridad-aviso-destacado", 3);
                            sessionStorage.setItem("fecha-aviso-destacado", '@DateTime.Now');
                            sessionStorage.setItem("dias-aviso-destacado", 7);
                            break;
                    }
                    break;
            }
        });
        $('.pagar').click(function () {
            $(".custom-control-input").change();
        });
    });
    $(document).on("click", "input[id=radio-3-dias]:radio", function () {
        if (!$('#radio-3-dias').is(':checked')) {
            $("input[id=radio-3-dias]:radio").prop('checked', false);
            $("input[id=radio-7-dias]:radio").prop('checked', true);
        }
        $('#monto-basico').html("Permium básico <b>($104)</b>");
        $('#monto-full').html("Permium Full <b>($208)</b><label style='color:red; margin-left: 5px;'><b>+1 día gratis!</b></label></label>");
    });
    $(document).on("click", "input[id=radio-7-dias]:radio", function () {
        if (!$('#radio-7-dias').is(':checked')) {
            $("input[id=radio-7-dias]:radio").prop('checked', false);
            $("input[id=radio-3-dias]:radio").prop('checked', true);
        }
        $('#monto-basico').html("Permium básico <b>($208)</b>");
        $('#monto-full').html("Permium Full <b>($416)</b><label style='color:red; margin-left: 5px;'><b>+1 día gratis!</b></label></label>");
    });
    $(document).on("click", "input[id=radio-estandar]:radio", function () {
        $("input[id=radio-avanzado]:radio").prop('checked', false);
        $('#tarjeta-destacado-basico').show();
        $('#tarjeta-destacado-full').hide();
    });
    $(document).on("click", "input[id=radio-avanzado]:radio", function () {
        $("input[id=radio-estandar]:radio").prop('checked', false);
        $('#tarjeta-destacado-basico').hide();
        $('#tarjeta-destacado-full').show();
    });

</script>

@*CHECKOUT MERCADOPAGO*@
@*<form action="@Url.Action("Destacar","Post")" method="POST" enctype="multipart/form-data">
        <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                data-preference-id="@Html.DisplayFor(model => model.Id)">
        </script>
    </form>*@

