﻿<h5>Características del producto</h5>
<span class="form-icon-wrapper">
    <a class="text-center d-block" data-toggle="tooltip" data-placement="top" title="" data-original-title="Incluye estado, características y detalles que consideres relevantes">
        <form>
            <div class="form-group">
                <textarea id="comentario" class="form-control" rows="6"></textarea>
            </div>
        </form>
    </a>
</span>
