﻿@*<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="barra-categorias">
    <div class="container">

        <!--Perfil-->
        <ul class="navbar-nav">
            <li class="nav-item dropdown categoria-dropdown">
                <a class="nav-link" id="categorias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    AUTOMOTORES<i class="fas fa-angle-down small ml-1"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("HighLight", "Post")">Autos</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Profile")">Motos y Cuatriciclios</a>
                    <a class="dropdown-item" href="@Url.Action("Favorites", "Profile")">Repuestos y Accesorios</a>
                    <a class="dropdown-item" href="@Url.Action("Configuration", "Profile")">Náutica</a>
                    @{
                        if (User.IsInRole("Administrador") || User.IsInRole("Moderador"))
                        {
                            <a class="dropdown-item" href="@Url.Action("Index", "Admin")" style="background:linear-gradient(to right, rgba(98,37,131,1) 0%, rgba(62,81,172,1) 50%, rgba(42,169,229,1) 100%); color:white;">Administrar sitio</a>
                        }
                    }
                </div>
            </li>
        </ul>
    </div>
</nav>
<script>
    $(document).ready(function () {
        $('.categoria-dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    });
</script>*@

@*<div id="categorias-desplegable" style="height:50px; display:flex; align-items:center; justify-content:center; background-color:rgb(89, 40, 122); color:white; padding:30px; width:100%">
        <div style="margin:15px;">
            <h6 class="categoria-desplegable" style="font-size:small">AUTOMOTORES</h6>
        </div>
        <div style="margin:15px;">
            <h6 class="categoria-desplegable" style="font-size:small">AGRO</h6>
        </div>
        <div style="margin:15px;">
            <h6 class="categoria-desplegable" style="font-size:small">ANIMALES</h6>
        </div>
        <div style="margin:15px;">
            <h6 class="categoria-desplegable" style="font-size:small">BEBÉS Y NIÑOS</h6>
        </div>
        <div style="margin:15px;">
            <h6 class="categoria-desplegable" style="font-size:small">ELECTRÓNICA</h6>
        </div>
        <div style="margin:15px;">
            <h6 class="categoria-desplegable" style="font-size:small">EMPLEOS</h6>
        </div>
        <div style="margin:15px;">
            <h6 class="categoria-desplegable" style="font-size:small">HOGAR Y MUEBLES</h6>
        </div>
        <div style="margin:15px;">
            <h6 class="categoria-desplegable" style="font-size:small">INMUEBLES</h6>
        </div>
        <div style="margin:15px;">
            <h6 class="categoria-desplegable" style="font-size:small">SERVICIOS</h6>
        </div>
        <div style="margin:15px;">
            <h6 class="categoria-desplegable" style="font-size:small">VARIOS</h6>
        </div>
    </div>*@

@*MEGAMENU*@

@*<nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: #59287a;">
        <a href="#" class="navbar-brand font-weight-bold d-block d-lg-none" style="background-color: #59287a;">MegaMenu</a>
        <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarContent" class="collapse navbar-collapse" style="background-color: #59287a; width:100vh">
            <ul class="navbar-nav mx-auto">
                <!-- AUTOMOTORES-->
                <li class="nav-item dropdown megamenu" style="width:100vh">
                    <a id="megamneuAutomotores" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase" style="color:white">CATEGORÍAS</a>
                    <div aria-labelledby="megamneuAutomotores" class="dropdown-menu border-0 p-0 m-0">
                        <div class="container">
                            <div class="row bg-white rounded-0 m-0 shadow-sm">
                                <div class="col-lg-12 col-xl-12"> <!--col-lg-7 col-xl-8  para que se vea la imagen-->
                                    <div class="p-4">
                                        <div class="row" style="width:100vh">
                                            <div class="col-lg-4 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">AUTOMOTORES</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0">Unique Features</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">ELECTRÓNICA</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">EMPLEOS</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">BEBÉS Y NIÑOS</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">AGRO</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">ANIMALES</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">HOGAR Y MUEBLES</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">INMUEBLES</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">VARIOS</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">SERVICIOS</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-xl-4 px-0 d-none d-lg-block" style="background: center center url(https://res.cloudinary.com/mhmd/image/upload/v1556990826/mega_bmtcdb.png)no-repeat; background-size: cover;"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase" style="color:white">HOME</a></li>
                <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase" style="color:white">CONTACTO</a></li>
            </ul>
        </div>
    </nav>*@