﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="onixbusiness es un sitio web de compra y venta en la ciudad de Rafaela, Santa Fe, Argentina. Comprá y vendé lo que querés." />
    <title>ONIX | Comprá y vendé lo que querés en Rafaela</title>
    @Styles.Render("~/bundles/css")
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/sweetalert2.min.css">

</head>
<body class="bg-gradient-primary">
    @RenderBody()


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/gh/mathusummut/confetti.js/confetti.min.js"></script>
    <script src="~/Content/js/sweetalert2.all.min.js"></script>
</body>
</html>
