﻿@model Onix.Models.HomeViewModels
@{
    var cantidadPaginas = (int)Math.Ceiling((double)Model.TotalDeRegistros / Model.RegistrosPorPagina);
}
@{
    int Inicial = 1;
    var radio = 1;
    var cantidadMaximaDePaginas = radio * 2 + 1;
    int Final = (cantidadPaginas > cantidadMaximaDePaginas) ? cantidadMaximaDePaginas : cantidadPaginas;
    if (Model.PaginaActual > radio + 1)
    {
        Inicial = Model.PaginaActual - radio;
        if (cantidadPaginas > Model.PaginaActual + radio)
        {
            Final = Model.PaginaActual + radio;
        }
        else
        {
            Final = cantidadPaginas;
        }
    }
}

<div class="row justify-content-between align-items-lg-center mb-4" style="margin:75px;">
    <div class="col-sm-1 col-md-12">
        <nav aria-label="Bootstrap Pagination Example">
            <ul class="d-flex justify-content-center" style="list-style: none;">
                @{
                    if (Model.PaginaActual == 1)
                    {
                        <li class="page-item">
                            @Html.ActionLink("Anterior", null, new { pagina = 1 }, new { @class = "page-link" })
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink("Anterior", null, new { pagina = Model.PaginaActual - 1 }, new { @class = "page-link" })
                        </li>
                    }
                    for (int i = Inicial; i <= Final; i++)
                    {
                        if (i == Model.PaginaActual)
                        {
                            <li class="page-item active">
                                @Html.ActionLink(i.ToString(), null, new { pagina = i }, new { @class = "page-link" })
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                @Html.ActionLink(i.ToString(), null, new { pagina = i }, new { @class = "page-link" })
                            </li>
                        }
                    }
                    if (Model.PaginaActual == cantidadPaginas)
                    {
                        <li class="page-item">
                            @Html.ActionLink("Siguiente", null, new { pagina = cantidadPaginas }, new { @class = "page-link" })
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink("Siguiente", null, new { pagina = Model.PaginaActual + 1 }, new { @class = "page-link" })
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>