﻿@using Onix.Models;
@model SidebarViewModels

<!-- Navigation -->
<nav class="navbar navbar navbar-expand-sm navbar-dark bg-primary bg-primary" id="barra-categorias">
    <div class="container">

        <!--Perfil-->
        <ul class="navbar-nav">
            @{
                foreach (var cat in Model.Categorias)
                {
                    <li class="nav-item dropdown categoria-dropdown" style="cursor:pointer">
                        <a class="nav-link" id="categorias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:small">
                            @cat.Descripcion.ToUpper()<i class="fas fa-angle-down small ml-1"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @{
                                foreach (var subcat in Model.Subcategorias)
                                {
                                    if (subcat.IdCategoria == cat.Id)
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Index","Category", new { idCat = cat.Id, idSubCat = subcat.Id})">@subcat.Descripcion</a>
                                    }
                                }
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index","Category", new { idCat = cat.Id, idSubCat = -1})">Ver todos</a>
                            }
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</nav>
<script>
    $(document).ready(function () {
        $('.categoria-dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('#barra-categorias').hide();
        }
    });
</script>

@*MENU ANTERIOR VERTICAL*@
@*<div class="support-menu">
    <nav class="vertical" style="box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.4);">
        <ul>
            @{
                foreach (var cat in Model.Categorias)
                {
                    <li>
                        <a href="@Url.Action("Categorias","Category", new { id = cat.Id})">@cat.Descripcion</a>
                        <div>
                            <ul>
                                @{
                                    foreach (var subcat in Model.Subcategorias)
                                    {
                                        if (subcat.IdCategoria == cat.Id)
                                        {
                                            <li><a href="@Url.Action("SubCategorias","Category", new { id = subcat.Id})">@subcat.Descripcion</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </li>
                }
            }
        </ul>
    </nav>
</div>*@