﻿@{
    ViewBag.Title = "Error de inicio de sesión";
}


<div class="tab-content" id="blockquotes-tabContent" style="margin:25px;">
    <div class="tab-pane fade active show" id="blockquote-v1 blockquote-v1--bottom" role="tabpanel" aria-labelledby="blockquote-v1 blockquote-v1--bottom">
        <!-- Left Bordered -->
        <blockquote class="blockquote-v1 blockquote-v1--both">
            <h2>@ViewBag.Title.</h2>
            <h3 class="text-danger">El inicio de sesión con Facebook no se pudo llevar a cabo correctamente. Por favor, revisa que el email coincida con tu email de Facebook.</h3>

        </blockquote>
        <!-- End Left Bordered -->
    </div>
</div>

