﻿@model Onix.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}

    <div class="container">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">¡Registre su cuenta!</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control form-control-user", placeholder = "Nombre" })
                                            @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control form-control-user", placeholder = "Apellido" })
                                            @Html.ValidationMessageFor(m => m.Apellido, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", placeholder = "Email" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                        @*<input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email">*@
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-user", placeholder = "Contraseña", type = "password" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control form-control-user", placeholder = "Confirmar contraseña", type = "password" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <input type="submit" id="btnRegistrarse" onclick="mostrarCargando()" class="btn btn-primary btn-user btn-block" value="Registrarse" />

                                    <!-- Modal usuario ya registrado -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Usuario existente</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Ya se encuentra registrado un usuario con este Email. Por favor, ingrese otra cuenta de correo.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*<a href="#" id="login" class="btn btn-facebook btn-user btn-block" style="color:white; background-color:#385898"><i class="fab fa-facebook-f fa-fw"></i>Ingresar con Facebook</a>*@
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="@Url.Action("ForgotPassword", "Account")">Olvidé mi contraseña</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="@Url.Action("Login", "Account")">¿Ya tienes una cuenta? ¡Ingresá!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!--alerta-->
        <div class="alert bg-secondary text-white fade show" role="alert" id="emailEnviado" style="display:none">
            <div class="d-flex">
                <div class="alert__icon mr-3">
                    <i class="fas fa-thumbs-up"></i>
                </div>

                <div class="align-self-center mr-3">¡Sólo un paso más! Por favor, ingresa al correo registrado y confirma tu cuenta.</div>

                <div class="ml-auto">
                    <button type="button" class="alert__close alert__close--light" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script type="text/javascript">
    $(document).ready(function () {
        var usuario_existe = '@ViewBag.UsuarioExiste';
        if (usuario_existe == 'True') {
            $("#exampleModal").modal("show");
        }
        document.getElementById("emailEnviado").style.display = "none";
        var registro_valido = '@ViewBag.UsuarioValido';
        if (registro_valido == 'True') {
            document.getElementById("emailEnviado").style.display = "block";
            confetti.start(2200, 100, 150);
            Swal.fire({
                title: '¡Bienvenido a ONIX!',
                icon: 'success',
                confirmButtonColor: '#59287a',
                text: "Sólo un paso más.. comprobá el email que te enviamos para confirmar el registro y comenzar a publicar!",
                backdrop: `
                rgba(9, 206, 45, 0.6)
                `
            })
        }
        $('#btnRegistrarse').click(function () {
            $(this).hide();
        });
    });

    function mostrarCargando() {
        Swal.fire({
            title: 'Espere por favor..',
            showCancelButton: false,
            allowOutsideClick: false,
            onBeforeOpen: () => {
                Swal.showLoading()
            }
        });
    }
</script>
