﻿@model Onix.Models.ConfigurationViewModels
@{
    Html.RenderAction("_Navigation", "User");
}
<body style="overflow-x:hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <!--Espacio en blanco-->
            </div>
            <div class="col-sm-8 col-md-8">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top:25px;">
                        <div class="tab-content" id="blockquotes-tabContent" style="margin-bottom:8px;">
                            <div class="tab-pane fade active show" id="blockquotes-left-1" role="tabpanel" aria-labelledby="blockquotes-left-tab-1">
                                <!-- Left Bordered -->
                                <blockquote class="blockquote-v1 blockquote-v1--bottom" style="margin-bottom:0px;">
                                    <h4 style="font-weight:bold; margin-bottom:3px; text-align:center;">CONFIGURAR CUENTA</h4>
                                </blockquote>
                                <!-- End Left Bordered -->
                            </div>
                        </div>
                        <!--Modificar foto-->
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card" style="margin-bottom:8px;">
                                    <div class="card-body">
                                        <h5>Cambiá tu foto</h5>
                                        <hr style="border-color:#59287a; margin-top:0px;" />
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    @if (Model.Imagen != null)
                                                    {
                                                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Imagen)" alt="imagen_perfil" width="130" class="rounded mb-2 img-thumbnail">
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content("~/Content/img/guest.png")" alt="imagen_perfil" width="130" class="rounded mb-2 img-thumbnail">
                                                    }
                                                    @using (Html.BeginForm("UploadFileProfile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                    {
                                                        <div class="form-inline" style="margin-bottom:8px;">
                                                            <div class="form-group">
                                                                <input type="file" name="file" id="file">
                                                            </div>
                                                            <button id="btnSubirFoto" type="submit" class="btn btn-sm btn-primary" style="display:inline-block; margin-left:8px">Subir foto</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Modificar datos personales-->
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card" style="margin-bottom:8px;">
                                    <div class="card-body">
                                        <h5>Modificá tus datos personales</h5>
                                        <hr style="border-color:#59287a; margin-top:0px;" />
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6">
                                                    <div style="margin-bottom:10px">
                                                        <label class="u-font-size-90" style="margin-bottom:0px">Nombre</label>
                                                        <input type="text" class="form-control" id="nombre-contacto" placeholder="Nombre" value="@Model.Nombre">
                                                    </div>
                                                    <div style="margin-bottom:10px">
                                                        <label class="u-font-size-90" style="margin-bottom:0px">Domicilio</label>
                                                        <input type="text" class="form-control" id="domicilio-contacto" placeholder="Domicilio" value="@Model.Domicilio">
                                                    </div>
                                                    <div style="margin-bottom:10px">
                                                        <label class="u-font-size-90" style="margin-bottom:0px">Celular</label>
                                                        <input type="number" class="form-control" id="celular-contacto" placeholder="Celular" value="@Model.Celular" onKeyPress="return soloNumeros(event)">
                                                    </div>
                                                    <div style="margin-bottom:10px">
                                                        <label class="u-font-size-90" style="margin-bottom:0px">Email</label>
                                                        <input type="email" class="form-control" id="email-contacto" placeholder="Email" value="@Model.Email">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6">
                                                    <div style="margin-bottom:10px">
                                                        <label class="u-font-size-90" style="margin-bottom:0px">Apellido</label>
                                                        <input type="text" class="form-control" id="apellido-contacto" placeholder="Apellido" value="@Model.Apellido">
                                                    </div>
                                                    <div style="margin-bottom:10px">
                                                        <label class="u-font-size-90" style="margin-bottom:0px">Localidad</label>
                                                        <input type="text" class="form-control" id="localidad-contacto" placeholder="Localidad" value="@Model.Localidad">
                                                    </div>
                                                    <div style="margin-bottom:10px">
                                                        <label class="u-font-size-90" style="margin-bottom:0px">Teléfono</label>
                                                        <input type="number" class="form-control" id="telefono-contacto" placeholder="Teléfono" value="@Model.Telefono" onKeyPress="return soloNumeros(event)">
                                                    </div>
                                                    <div style="margin-bottom:10px">
                                                        <label class="u-font-size-90" style="margin-bottom:0px">Confirmar email</label>
                                                        <input type="email" class="form-control" id="confirmar-email-contacto" placeholder="Email" value="@Model.Email">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display:flex; justify-content:center; width:100%">
                                        <a class="btn btn-primary" style="text-align:center; color:white; margin-bottom:8px" id="btnGuardarDatosPersonales">Guardar cambios</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Modificar contraseña-->
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card" style="margin-bottom:8px;">
                                    <div class="card-body">
                                        <h5>Modificá tu contraseña</h5>
                                        <hr style="border-color:#59287a; margin-top:0px;" />
                                        <div class="form-group" style="margin-bottom:0px; text-align:center">
                                            <h4 style="color:#59287a; font-weight:bold">¿Querés cambiar tu contraseña? ¡Nosotros te ayudamos a crear otra!</h4>
                                        </div>
                                    </div>
                                    <div style="display:flex; justify-content:center; width:100%">
                                        <a class="btn btn-primary" style="text-align:center; color:white; margin-bottom:8px" href="@Url.Action("ForgotPassword", "Account")">Cambiar contraseña</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Desactivar cuenta-->
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card" style="margin-bottom:25px;">
                                    <div class="card-body">
                                        <h5>Eliminar cuenta</h5>
                                        <hr style="border-color:#59287a; margin-top:0px;" />
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12" style="padding-top:25px;">
                                                    <a class="btn btn-danger" id="btnEliminarCuenta" data-toggle="modal" href="#exampleModal">Eliminar cuenta</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<!--Guardar cambios-->
                            <div class="tab-content" id="blockquotes-tabContent" style="margin-bottom:8px;">
                                <div class="tab-pane fade active show" id="blockquotes-left-1" role="tabpanel" aria-labelledby="blockquotes-left-tab-1">
                                    <!-- Left Bordered -->
                                    <blockquote class="blockquote-v1 blockquote-v1--bottom blockquote-v1--top" style="margin-bottom:0px; text-align:center">
                                        <a class="btn btn-primary" style="text-align:center" id="btnGuardarCambios" href="@Url.Action("Index", "Home")">Guardar cambios</a>
                                    </blockquote>
                                    <!-- End Left Bordered -->
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2" style="margin-top:10px;">
                <!--Espacio en blanco-->
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script type="text/javascript">
    var loginUrl = '@Url.Action("Register", "Account")';
    $(document).ready(function () {
        if ('@TempData["UploadSuccess"]' != '' && '@TempData["UploadSuccess"]' != null) {
            if ('@TempData["UploadSuccess"]' == 'True') {
                Swal.fire({
                    title: 'Cambios guardados correctamente',
                    icon: 'success',
                    confirmButtonColor: '#59287a',
                    backdrop: `
                        rgba(9, 206, 45, 0.6)
                        `
                });
            }
            else {
                Swal.fire({
                    title: 'Se ha producido un error',
                    icon: 'error',
                    confirmButtonColor: '#59287a',
                    text: '@TempData["Message"]',
                    backdrop: `
                        rgba(206, 9, 9, 0.6)
                        `
                });
            }
        }
        $('#btnSubirFoto').click(function (evt) {
            if ($('#file').val() == "") {
                Swal.fire({
                    title: '¡Todavía no has elegido ningún archivo!',
                    icon: 'error',
                    text: 'Por favor, selecciona al menos una imagen.',
                    confirmButtonColor: '#59287a',
                    backdrop: `
                        rgba(206, 9, 9, 0.6)
                        `
                });
                evt.preventDefault();
            }
        });
        $('#btnEliminarCuenta').click(function () {
            Swal.fire({
                title: '¿Eliminar tu cuenta?',
                icon: 'warning',
                text: '¿Estás seguro que querés eliminar tu cuenta permanentemente? Esta acción no se puede deshacer.',
                showCancelButton: true,
                confirmButtonText: 'Sí, estoy seguro.',
                cancelButtonText: '¡No, cancelar!',
                confirmButtonColor: '#fb4143',
                cancelButtonColor: '#6c757d',
                reverseButtons: true,
                backdrop: `
                    rgba(100, 0, 0, 0.6)
                    `
            }).then((avanzar) => {
                if (avanzar.value) {
                    var options = {};
                    var data = {};
                    data.email = '@User.Identity.Name'
                    options.url = "/Profile/EliminarCuenta";
                    options.type = "POST";
                    options.data = JSON.stringify({ "email": data.email });
                    options.dataType = "json";
                    options.contentType = "application/json";
                    options.success = function (response) {
                        if (response.exito) {
                            Swal.fire({
                                title: 'Tu cuenta ha sido eliminada exitosamente.',
                                icon: 'success',
                                confirmButtonColor: '#59287a',
                                backdrop: `
                                    rgba(206, 9, 9, 0.6)
                                    `
                            }).then((avanzar) => {
                                if (avanzar.value) {
                                    window.location.href = '@Url.Action("LogOff", "Account")';
                                }
                            });
                        } else {
                            Swal.fire({
                                title: '¡Ups! Ha ocurrido un error..',
                                icon: 'error',
                                confirmButtonColor: '#59287a',
                                text: 'No hemos podido eliminar tu cuenta. Por favor, intentá nuevamente más tarde.',
                                backdrop: `
                                rgba(206, 9, 9, 0.6)
                                `
                            });
                        }
                    };
                    options.error = function (err) {
                        Swal.fire({
                            title: '¡Ups! Ha ocurrido un error..',
                            icon: 'error',
                            confirmButtonColor: '#59287a',
                            text: 'No hemos podido eliminar tu cuenta. Por favor, intentá nuevamente más tarde.',
                            backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                        });
                    };
                    $.ajax(options);
                }
            });
        });
        $('#btnGuardarDatosPersonales').click(function () {
            Swal.fire({
                title: 'Guardando datos..',
                showCancelButton: false,
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                }
            });
            if ($('#nombre-contacto').val().trim() != "" && $('#apellido-contacto').val().trim() != "" && $('#localidad-contacto').val().trim() != "" && $('#email-contacto').val().trim() != "" && $('#telefono-contacto').val().trim() != "" && $('#celular-contacto').val().trim() != "" && $('#domicilio-contacto').val().trim() != "") {
                var options = {};
                let data = {};
                data.Nombre = $('#nombre-contacto').val().trim();
                data.Apellido = $('#apellido-contacto').val().trim();
                data.Localidad = $('#localidad-contacto').val().trim();
                data.Email = $('#email-contacto').val().trim();
                data.Telefono = $('#telefono-contacto').val().trim();
                data.Celular = $('#celular-contacto').val().trim();
                data.Domicilio = $('#domicilio-contacto').val().trim();
                data.EmailOriginal = '@User.Identity.Name'
                options.url = "/Profile/GuardarDatosPersonales";
                options.type = "POST";
                options.data = JSON.stringify({ "data": data });
                options.dataType = "json";
                options.contentType = "application/json";
                options.success = function (response) {
                    if (response.exito) {
                        swal.close();
                        Swal.fire({
                            title: '¡Datos guardados correctamente!',
                            icon: 'success',
                            confirmButtonColor: '#59287a',
                            backdrop: `
                        rgba(9, 206, 45, 0.6)
                        `
                        });
                    } else {
                        Swal.fire({
                            title: '¡Ups! Ha ocurrido un error..',
                            icon: 'error',
                            confirmButtonColor: '#59287a',
                            text: 'Por favor, inténtelo más tarde nuevamente.',
                            backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                        });
                    }
                };
                options.error = function (err) {
                    Swal.fire({
                        title: '¡Ups! Ha ocurrido un error..',
                        icon: 'error',
                        confirmButtonColor: '#59287a',
                        text: 'Por favor, inténtelo más tarde nuevamente.',
                        backdrop: `
                        rgba(206, 9, 9, 0.6)
                        `
                    });
                };
                $.ajax(options);
            } else {
                Swal.fire({
                    title: '¡Completa todos los campos antes de continuar!',
                    icon: 'error',
                    text: 'Por favor, revisá que todos los campos estén completos e intentá nuevamente.',
                    confirmButtonColor: '#59287a',
                    backdrop: `
                        rgba(206, 9, 9, 0.6)
                        `
                });
            }
        });
    });
</script>
