﻿@using Onix.Models;
@model Onix.Models.PerfilUsuarioViewModels
@{
    Html.RenderAction("_Navigation", "User");
}
    <body style="overflow-x:hidden;">
        @{
            Html.RenderAction("_Sidebar", "Category");
        }
        <script>
            // Load the SDK asynchronously
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/es_ES/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="row py-5 px-4">
            <div class="col-xl-7 col-md-6 col-sm-10 mx-auto">

                <!-- Profile widget -->
                <div class="bg-white shadow rounded overflow-hidden">
                    <div class="px-4 pt-0 pb-4 bg-dark" style="border-radius:2px 2px 0px 0px;">
                        <div class="media align-items-end profile-header">
                            <div class="profile mr-3">
                                @{
                                    if (Model.Imagen != null)
                                    {
                                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Imagen)" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/img/guest.png")" alt="imagen_perfil" width="130" class="rounded mb-2 img-thumbnail">
                                    }
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.Identity.Name == Model.Email)
                                    {
                                        <a href="@Url.Action("Configuration","Profile")" class="btn btn-info btn-sm btn-block">Editar perfil</a>
                                    }
                                }
                            </div>
                            <div class="media-body mb-5 text-white" style="transform: translateY(-2rem);">
                                <h4 class="mt-0 mb-0">@Model.Nombre @Model.Apellido</h4>
                                @{
                                    if (Model.Localidad != null)
                                    {
                                        <p class="small mb-4" style="font-size:16px"> <i class="fas fa-map-marker-alt mr-2"></i>@Model.Localidad</p>
                                    }
                                    else
                                    {
                                        <p class="small mb-4" style="font-size:16px"> <i class="fa fa-map-marker mr-2"></i>Ubicación desconocida</p>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="bg-light p-4 d-flex justify-content-end text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="mb-0" style="vertical-align:central; float:left">

                                </a>
                            </li>
                            <li class="list-inline-item" style="margin-top:40px;">
                                <h5 class="font-weight-bold mb-0 d-block">@Model.CantidadPublicaciones</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Publicaciones <br /> realizadas</small>
                            </li>
                            @*<li class="list-inline-item">
                                <img class="font-weight-bold mb-0 d-block" src="http://pngtransparent.com/images/chat-png-715x657_6a4db7cf.png" style="height:25px; border-radius:5px; margin-left:35%" />
                                <small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Brinda buena <br /> atención</small>
                            </li>*@
                            <li class="list-inline-item">
                                @{
                                    if (Model.ValidadoConFacebook == true)
                                    {
                                        <img class="font-weight-bold mb-0 d-block" src="~/Content/img/facebook_icon_correct.png" style="height:25px; border-radius:5px; margin-left:35%">
                                        @*<img src="~/Content/img/correct.png" style="height:20px; position:relative; top:-38px; right:-20px;" />*@
                                        <small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Validado con<br /> Facebook</small>
                                    }
                                    else
                                    {
                                        <img class="font-weight-bold mb-0 d-block" src="~/Content/img/facebook_icon_wrong.png" style="height:25px; border-radius:5px; margin-left:35%" />
                                        <small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Sin validar con <br /> Facebook</small>
                                    }
                                }

                            </li>
                            <li class="list-inline-item">
                                <!-- circular-Progress bar 1 -->
                                @{
                                    if (Model.ValoracionesPositivas > -1)
                                    {
                                        <div class="circular-progress mx-auto" data-value='@Model.ValoracionesPositivas'>
                                            <span class="circular-progress-left">
                                                <span class="circular-progress-bar border-primary"></span>
                                            </span>
                                            <span class="circular-progress-right">
                                                <span class="circular-progress-bar border-primary"></span>
                                            </span>
                                            <div class="circular-progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                                <div class="h5 font-weight-bold">@Model.ValoracionesPositivas<sup class="small">%</sup></div>
                                            </div>
                                        </div>
                                        <small class="text-muted">
                                            <i class="fa fa-user-circle-o mr-1">
                                            </i>Valoraciones <br /> positivas
                                        </small>
                                    }
                                    else
                                    {
                                        <div class="circular-progress mx-auto" data-value='0'>
                                            <span class="circular-progress-left">
                                                <span class="circular-progress-bar border-primary"></span>
                                            </span>
                                            <span class="circular-progress-right">
                                                <span class="circular-progress-bar border-primary"></span>
                                            </span>
                                            <div class="circular-progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                                <div class="h5 font-weight-bold"><sup class="small">-</sup></div>
                                            </div>
                                        </div>
                                        <small class="text-muted">
                                            <i class="fa fa-user-circle-o mr-1">
                                            </i>Aún sin <br /> valoraciones
                                        </small>
                                    }
                                }
                            </li>
                        </ul>
                    </div>
                    @{
                        if (User.Identity.IsAuthenticated && Model.Email != User.Identity.Name)
                        {
                            <div style="width:100%; text-align:center; margin-top:15px;">
                                <a id="valorar-usuario" class="btn btn-primary" style="color:white">¡Valorá a @Model.Nombre!</a>
                            </div>
                        }
                    }

                    <div style="margin-left:10px; margin-top:10px; margin-right:10px;">
                        @{
                            if (User.Identity.Name == Model.Email && (Model.ValidadoConFacebook == false || Model.ValidadoConFacebook == null))
                            {
                                <a href="#" id="validar" class="btn btn-facebook btn-user btn-block" style="color:white; background-color:#385898"><i class="fab fa-facebook-f fa-fw"></i>Validá tu cuenta con Facebook</a>
                            }
                        }
                    </div>

                    <div class="py-4 px-4">
                        @*<div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mb-2 pr-lg-1"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294928/nicole-honeywill-546848-unsplash_ymprvp.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                            <div class="col-lg-6 mb-2 pl-lg-1"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294927/dose-juice-1184444-unsplash_bmbutn.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                            <div class="col-lg-6 pr-lg-1 mb-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294926/cody-davis-253925-unsplash_hsetv7.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                            <div class="col-lg-6 pl-lg-1"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294928/tim-foster-734470-unsplash_xqde00.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                        </div>*@
                        <div class="py-4">
                            <h5 class="mb-3">Publicaciones de @Model.Nombre</h5>
                            @{
                                if (Model.CantidadPublicaciones == 0)
                                {
                                    <div style="display:flex; justify-content:center">
                                        <span class="badge badge-primary" style="margin-bottom:0px; font-size:24px;"> ¡No hay publicaciones!</span>
                                    </div>
                                }
                                else
                                {
                                    foreach (var post in Model.ListaPosts)
                                    {
                                        if (User.Identity.Name == Model.Email)
                                        {
                                            <div style="display:flex; justify-content:flex-end">
                                                <a href="@Url.Action("HighLight","Post", new { id = post.IdPost})" style="margin-right:5px;">
                                                    <span class="badge badge-warning" style="cursor:pointer; "><i style="margin-right:5px;" class="fas fa-fire-alt"></i>DESTACAR</span>
                                                </a>
                                                <a href="@Url.Action("EditarPost","Post", new { id = post.IdPost})" style="margin-right:5px;">
                                                    <span class="badge badge-info editar-post" style="cursor:pointer"><i style="margin-right:5px;" class="fas fa-edit"></i>EDITAR</span>
                                                </a>
                                                <a>
                                                    <span id="eliminar-@post.IdPost-@post.IdCategoria" class="badge badge-danger eliminar-post" style="cursor:pointer"><i style="margin-right:5px;" class="fas fa-trash-alt"></i>ELIMINAR</span>
                                                </a>
                                            </div>
                                        }

                                        if (post.Prioridad == 3)
                                        {
                                            <div class="tarjeta-categoria" href="@Url.Action("Index", "Post", new { id = post.IdPost})" style="cursor:pointer; margin-bottom:10px; overflow:hidden">
                                                <div class="card shadow mb-4">
                                                    <img src="~/Content/img/tick_onix.png" style="position:absolute; right:10px; top:10px; height:25px;" />
                                                    <div class="card-header py-3" style="background: linear-gradient(to bottom, rgba(0, 118, 214, 0.43) 0%, rgba(0, 118, 214, 0.43) 35%">
                                                        <h6 class="m-0 font-weight-bold">@post.Titulo</h6>
                                                    </div>
                                                    <div class="card-body" style="height:162px; padding:0px; margin:0px; overflow:hidden">
                                                        <div class="row" style="padding:0px;">
                                                            <div class="col-sm-3 col-md-3" style="margin:0px;">
                                                                <div class="imagen-panel">
                                                                    @{
                                                                        if (post.Imagen != null)
                                                                        {
                                                                            <img class="imagen-tarjeta" src="data:image;base64,@System.Convert.ToBase64String(post.Imagen)" alt="" style="vertical-align:middle;">
                                                                        }
                                                                        else
                                                                        {
                                                                            <img class="imagen-tarjeta" src="@Url.Content("~/Content/img/Onix_Logo_6.jpg")" alt="" style="vertical-align:middle;">
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-9 col-md-9" style="margin:0px; position:relative; bottom:0; left:0;">
                                                                @{
                                                                    if (post.Precio > 0)
                                                                    {
                                                                        <h2 style="color:#59287a; margin-top:8px;">
                                                                            @post.Moneda@post.Precio.ToString("N0")
                                                                            @{
                                                                                if (post.PermiteCanjes)
                                                                                {
                                                                                    <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; margin-left:10px; font-size:15px; vertical-align:middle;">Acepta canjes</span>
                                                                                }
                                                                                if (post.PermiteCuotas)
                                                                                {
                                                                                    <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle; background-color:#ffd800">Acepta cuotas</span>
                                                                                }
                                                                                if (post.PermiteContraOfertas)
                                                                                {
                                                                                    <span class="badge badge-success" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle;">Acepta contraofertas</span>
                                                                                }
                                                                            }
                                                                        </h2>
                                                                    }
                                                                    else
                                                                    {
                                                                        <h2 style="color:#59287a; margin-top:8px;">
                                                                            Consultar
                                                                            @{
                                                                                if (post.PermiteCanjes)
                                                                                {
                                                                                    <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; margin-left:10px; font-size:15px; vertical-align:middle;">Acepta canjes</span>
                                                                                }
                                                                                if (post.PermiteCuotas)
                                                                                {
                                                                                    <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle; background-color:#ffd800">Acepta cuotas</span>
                                                                                }
                                                                                if (post.PermiteContraOfertas)
                                                                                {
                                                                                    <span class="badge badge-success" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle;">Acepta contraofertas</span>
                                                                                }
                                                                            }
                                                                        </h2>
                                                                    }
                                                                }

                                                                <p style="margin:0px;">
                                                                    @Html.Raw(Server.HtmlDecode(post.Descripcion))
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            if (post.Prioridad == 2)
                                            {
                                                <div class="tarjeta-categoria" href="@Url.Action("Index", "Post", new { id = post.IdPost})" style="margin-bottom:10px; cursor:pointer; overflow:hidden">
                                                    <div class="card shadow mb-4">
                                                        <img src="~/Content/img/tick_celeste.png" style="position:absolute; right:10px; top:10px; height:25px;" />
                                                        <div class="card-header py-3" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 35%">
                                                            <h6 class="m-0 font-weight-bold">@post.Titulo</h6>
                                                        </div>
                                                        <div class="card-body" style="height:162px; padding:0px; margin:0px; overflow:hidden">
                                                            <div class="row" style="padding:0px;">
                                                                <div class="col-sm-3 col-md-3" style="margin:0px;">
                                                                    <div class="imagen-panel">
                                                                        @{
                                                                            if (post.Imagen != null)
                                                                            {
                                                                                <img class="imagen-tarjeta" src="data:image;base64,@System.Convert.ToBase64String(post.Imagen)" alt="" style="vertical-align:middle;">
                                                                            }
                                                                            else
                                                                            {
                                                                                <img class="imagen-tarjeta" src="@Url.Content("~/Content/img/Onix_Logo_6.jpg")" alt="" style="vertical-align:middle;">
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-9 col-md-9" style="margin:0px; position:relative; bottom:0; left:0;">
                                                                    @{
                                                                        if (post.Precio > 0)
                                                                        {
                                                                            <h2 style="color:#59287a; margin-top:8px;">
                                                                                @post.Moneda@post.Precio.ToString("N0")
                                                                                @{
                                                                                    if (post.PermiteCanjes)
                                                                                    {
                                                                                        <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; margin-left:10px; font-size:15px; vertical-align:middle;">Acepta canjes</span>
                                                                                    }
                                                                                    if (post.PermiteCuotas)
                                                                                    {
                                                                                        <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle; background-color:#ffd800">Acepta cuotas</span>
                                                                                    }
                                                                                    if (post.PermiteContraOfertas)
                                                                                    {
                                                                                        <span class="badge badge-success" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle;">Acepta contraofertas</span>
                                                                                    }
                                                                                }
                                                                            </h2>
                                                                        }
                                                                        else
                                                                        {
                                                                            <h2 style="color:#59287a; margin-top:8px;">
                                                                                Consultar
                                                                                @{
                                                                                    if (post.PermiteCanjes)
                                                                                    {
                                                                                        <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; margin-left:10px; font-size:15px; vertical-align:middle;">Acepta canjes</span>
                                                                                    }
                                                                                    if (post.PermiteCuotas)
                                                                                    {
                                                                                        <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle; background-color:#ffd800">Acepta cuotas</span>
                                                                                    }
                                                                                    if (post.PermiteContraOfertas)
                                                                                    {
                                                                                        <span class="badge badge-success" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle;">Acepta contraofertas</span>
                                                                                    }
                                                                                }
                                                                            </h2>
                                                                        }
                                                                    }

                                                                    <p style="margin:0px;">
                                                                        @Html.Raw(Server.HtmlDecode(post.Descripcion))
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="tarjeta-categoria" href="@Url.Action("Index", "Post", new { id = post.IdPost})" style="margin-bottom:10px; cursor:pointer; overflow:hidden; box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.4);">
                                                    <div class="card" >
                                                        <div class="card-header py-3">
                                                            <h6 class="m-0 font-weight-bold">@post.Titulo</h6>
                                                        </div>
                                                        <div class="card-body" style="height:162px; padding:0px; margin:0px; overflow:hidden">
                                                            <div class="row" style="padding:0px;">
                                                                <div class="col-sm-3 col-md-3" style="margin:0px;">
                                                                    <div class="imagen-panel">
                                                                        @{
                                                                            if (post.Imagen != null)
                                                                            {
                                                                                <img class="imagen-tarjeta" src="data:image;base64,@System.Convert.ToBase64String(post.Imagen)" alt="" style="vertical-align:middle;">
                                                                            }
                                                                            else
                                                                            {
                                                                                <img class="imagen-tarjeta" src="@Url.Content("~/Content/img/Onix_Logo_6.jpg")" alt="" style="vertical-align:middle;">
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-9 col-md-9" style="margin:0px; position:relative; bottom:0; left:0;">
                                                                    @{
                                                                        if (post.Precio > 0)
                                                                        {
                                                                            <h2 style="color:#59287a; margin-top:8px;">
                                                                                @post.Moneda@post.Precio.ToString("N0")
                                                                                @{
                                                                                    if (post.PermiteCanjes)
                                                                                    {
                                                                                        <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; margin-left:10px; font-size:15px; vertical-align:middle;">Acepta canjes</span>
                                                                                    }
                                                                                    if (post.PermiteCuotas)
                                                                                    {
                                                                                        <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle; background-color:#ffd800">Acepta cuotas</span>
                                                                                    }
                                                                                    if (post.PermiteContraOfertas)
                                                                                    {
                                                                                        <span class="badge badge-success" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle;">Acepta contraofertas</span>
                                                                                    }
                                                                                }
                                                                            </h2>
                                                                        }
                                                                        else
                                                                        {
                                                                            <h2 style="color:#59287a; margin-top:8px;">
                                                                                Consultar
                                                                                @{
                                                                                    if (post.PermiteCanjes)
                                                                                    {
                                                                                        <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; margin-left:10px; font-size:15px; vertical-align:middle;">Acepta canjes</span>
                                                                                    }
                                                                                    if (post.PermiteCuotas)
                                                                                    {
                                                                                        <span class="badge badge-info" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle; background-color:#ffd800">Acepta cuotas</span>
                                                                                    }
                                                                                    if (post.PermiteContraOfertas)
                                                                                    {
                                                                                        <span class="badge badge-success" style="margin-bottom:6px; margin-right:4px; font-size:15px; vertical-align:middle;">Acepta contraofertas</span>
                                                                                    }
                                                                                }
                                                                            </h2>
                                                                        }
                                                                    }

                                                                    <p style="margin:0px;">
                                                                        @Html.Raw(Server.HtmlDecode(post.Descripcion))
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div><!-- End profile widget -->
            </div>
        </div>
    </body>
@Html.Partial("_Footer")
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
    $(document).ready(function () {
        if ('@ViewBag.Instructivo' == 'True') {
            let altura = 294;
            let ancho = 400;
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                altura = 194;
                ancho = 300;
            }
            Swal.fire({
                title: '¡Destaquemos tus avisos!',
                confirmButtonColor: '#59287a',
                text: '¡Sólo tenés que elegir tu aviso, pulsar en "Destacar" y listo!',
                imageUrl: '@Url.Content("~/Content/img/Instructivo_destacar.png")',
                imageWidth: ancho,
                imageHeight: altura,
                imageAlt: 'Imagen_guía',
                backdrop: `
                rgba(0,0,123,0.4)
                `
            })
        }

        $('.tarjeta-categoria').click(function () {
            let urlPost = $(this).attr('href');
            window.location.href = urlPost;
        });
        $(function () {
            $(".circular-progress").each(function () {
                var value = $(this).attr('data-value');
                var left = $(this).find('.circular-progress-left .circular-progress-bar');
                var right = $(this).find('.circular-progress-right .circular-progress-bar');
                if (value > 0) {
                    if (value <= 50) {
                        right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                    } else {
                        right.css('transform', 'rotate(180deg)')
                        left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                    }
                }
            })
            function percentageToDegrees(percentage) {
                return percentage / 100 * 360
            }
        });
        $('.eliminar-post').click(function () {
            Swal.fire({
                title: '¿Estás seguro que deseas eliminar esta publicación?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, estoy seguro.',
                cancelButtonText: '¡No, cancelar!',
                confirmButtonColor: '#0dd157',
                cancelButtonColor: '#fb4143',
                reverseButtons: true,
                text: 'Esta acción no se puede deshacer'
            }).then((avanzar) => {
                if (avanzar.value) {
                    let idPostSucio = $(this).attr("id");
                    let idPostSplitted = idPostSucio.split('-');
                    let idPost = idPostSplitted[1];
                    let idCategoria = idPostSplitted[2];
                    let data = {};
                    data.idPost = idPost;
                    data.idCategoria = idCategoria;
                    let options = {};
                    options.url = "/Post/EliminarPost";
                    options.type = "POST";
                    options.data = JSON.stringify({ "data": data });
                    options.dataType = "json";
                    options.contentType = "application/json";
                    options.success = function () {
                        Swal.fire({
                            title: 'Publicación eliminada correctamente',
                            icon: 'success',
                            confirmButtonColor: '#59287a',
                            backdrop: `
                                rgba(9, 206, 45, 0.6)
                                `
                        }).then((avanzar) => {
                            if (avanzar.value) {
                                window.location.reload();
                            }
                        });
                    };
                    options.error = function (err) {
                        Swal.fire({
                            title: 'Se ha producido un error',
                            icon: 'error',
                            confirmButtonColor: '#59287a',
                            text: 'Intentá nuevamente más tarde.',
                            backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                        })
                    };
                    $.ajax(options);
                }
            });
        });

        $('#valorar-usuario').click(function () {
            Swal.fire({
                title: '¿Cómo valorarías los productos y la atención de ' + '@Model.Nombre' + '?',
                html: '<div class="rating"><input type="radio" name="rating" value="5" id="star-5"><label for="star-5">☆</label> <input type="radio" name="rating" value="4" id="star-4"><label for="star-4">☆</label> <input type="radio" name="rating" value="3" id="star-3"><label for="star-3">☆</label> <input type="radio" name="rating" value="2" id="star-2"><label for="star-2">☆</label> <input type="radio" name="rating" value="1" id="star-1"><label for="star-1">☆</label></div><h6 id="star-texto"></h6>',
                showCancelButton: true,
                confirmButtonText: '¡Valorar!',
                cancelButtonText: 'Cancelar',
                confirmButtonColor: '#59287a',
                reverseButtons: true,
            }).then((avanzar) => {
                if (avanzar.value) {
                    let VotoPositivo = 0;
                    if ($('#star-5').is(':checked')) {
                        VotoPositivo = true;
                    }
                    if ($('#star-4').is(':checked')) {
                        VotoPositivo = true;
                    }
                    if ($('#star-3').is(':checked')) {
                        VotoPositivo = true;
                    }
                    if ($('#star-2').is(':checked')) {
                        VotoPositivo = false;
                    }
                    if ($('#star-1').is(':checked')) {
                        VotoPositivo = false;
                    }
                    let IdUsuarioOrigen = '@User.Identity.Name';
                    let IdUsuarioDestino = '@Model.Id';
                    let Fecha = null;
                    let data = {};
                    data.IdUsuarioOrigen = IdUsuarioOrigen;
                    data.IdUsuarioDestino = IdUsuarioDestino;
                    data.Fecha = Fecha;
                    data.VotoPositivo = VotoPositivo;
                    let options = {};
                    options.url = "/Profile/VotarUsuario";
                    options.type = "POST";
                    options.data = JSON.stringify({ "data": data });
                    options.dataType = "json";
                    options.contentType = "application/json";
                    options.success = function () {
                        Swal.fire({
                            title: '¡Gracias por tu valoración!',
                            icon: 'success',
                            confirmButtonColor: '#59287a',
                            backdrop: `
                                rgba(9, 206, 45, 0.6)
                                `
                        }).then((avanzar) => {
                            if (avanzar.value) {
                                window.location.reload();
                            }
                        });
                    };
                    options.error = function (err) {
                        Swal.fire({
                            title: 'Se ha producido un error',
                            icon: 'error',
                            confirmButtonColor: '#59287a',
                            text: 'Intentá nuevamente más tarde.',
                            backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                        })
                    };
                    $.ajax(options);
                }
            });
        });
        $('#star-5').click(function () {
            alert("hola");
            $('#star-texto').val("Excelente");
        });
        $('#star-4').hover(function () {
            $('#star-texto').val("Muy bueno");
        });      
    });
</script>