﻿@{
    Html.RenderAction("_Navigation", "User");
}
@{
    Html.RenderAction("_Sidebar", "Category");
}
<!-- Header -->
<header style="margin-top:0px;">
    <!-- End Navbar -->
    <!-- Promo Block -->
    <section class="js-parallax u-promo-block u-promo-block--mheight-500 u-overlay u-overlay--dark text-white" style="background-image: url(../../Content/img/fondo-contacto.jpg);">
        <!-- Promo Content -->
        <div class="container u-overlay__inner u-ver-center u-content-space">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="text-center">
                        <h1 class="display-sm-4 display-lg-3">¿Tenés una consulta?</h1>
                        <p class="h6 text-uppercase u-letter-spacing-sm mb-0">Estamos a tu disposición</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Promo Content -->
    </section>
    <!-- End Promo Block -->
</header>
<!-- End Header -->

<body style="overflow-x:hidden">
    <!-- Icon Block -->
    <section class="container-fluid" style="background-color:#fff">
        <div class="row text-center u-icon-block">
            <!-- Icon Block Column -->
            <div class="col-lg-4 u-icon-block__col">
                <span class="u-icon u-icon-primary u-icon--size--xl rounded-circle mb-4">
                    <span class="fas fa-map u-icon__inner text-white"></span>
                </span>
                <h3 class="h5">Ubicación</h3>
                <p class="mb-0">Pcia. de Santa Fe, Argentina</p>
            </div>
            <!-- End Icon Block Column -->
            <!-- Icon Block Column -->
            <div class="col-lg-4 u-icon-block__col u-icon-block__col--left-brd">
                <span class="u-icon u-icon-primary u-icon--size--xl rounded-circle mb-4">
                    <span class="fas fa-mobile u-icon__inner text-white"></span>
                </span>
                <h3 class="h5">Teléfono</h3>
                <p class="mb-0">+54 9 3492 657652</p>
            </div>
            <!-- End Icon Block Column -->
            <!-- Icon Block Column -->
            <div class="col-lg-4 u-icon-block__col u-icon-block__col--left-brd">
                <span class="u-icon u-icon-primary u-icon--size--xl rounded-circle mb-4">
                    <span class="fas fa-envelope-open u-icon__inner text-white"></span>
                </span>
                <h3 class="h5">Email</h3>
                <p class="mb-0">info@onixbusiness.com.ar</p>
            </div>
            <!-- End Icon Block Column -->
        </div>
    </section>
    <!-- End Icon Block -->
    <!-- Contact Form -->
    <section class="u-content-space">
        <div class="container">
            <header class="text-center w-md-50 mx-auto mb-8">
                <h2 style="color:white" class="h1">¡Contanos que está pasando!</h2>
                <p style="color:white" class="h5">Dejanos tu consulta o problema completando los campos debajo. ¡Te responderemos a la brevedad!</p>
            </header>

            <form class="text-center w-md-75 mx-auto" action="#">
                <div class="row">
                    <div class="col-lg-6 form-group mb-4">
                        <input id="nombre-consulta" class="form-control form-control-lg" placeholder="Nombre" type="text">
                    </div>

                    <div class="col-lg-6 form-group mb-4">
                        <input id="email-consulta" class="form-control form-control-lg" placeholder="Email" type="email">
                    </div>

                    <div class="col-lg-12 form-group mb-4">
                        <input id="motivo-consulta" class="form-control form-control-lg" placeholder="Motivo de consulta" type="text">
                    </div>

                    <div class="col-lg-12 form-group mb-6">
                        <textarea id="mensaje-consulta" class="form-control form-control-lg" rows="7" placeholder="Escriba su mensaje aquí"></textarea>
                    </div>
                </div>

                <div class="text-center">
                    <a id="btnEnviarMensaje" style="color:white" class="btn btn-lg btn-primary py-3 px-4">Enviar mensaje</a>
                </div>
            </form>
        </div>
    </section>
    <!-- End Contact Form -->
</body>

@Html.Partial("_Footer");
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
    $(document).ready(function () {
        $('#btnEnviarMensaje').click(function () {
            if ($('#nombre-consulta').val() != "" && $('#email-consulta').val() != "" && $('#motivo-consulta').val() != "" && $('#mensaje-consulta').val() != "") {
                Swal.fire({
                    title: 'Enviando mensaje..',
                    showCancelButton: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        Swal.showLoading()
                    }
                });
                let options = {};
                let data = {};
                data.Nombre = $('#nombre-consulta').val();
                data.Email = $('#email-consulta').val();
                data.Motivo = $('#motivo-consulta').val();
                data.Mensaje = $('#mensaje-consulta').val();
                options.url = "/Home/EnviarConsulta";
                options.type = "POST";
                options.data = JSON.stringify({ "data": data });
                options.dataType = "json";
                options.contentType = "application/json";
                options.success = function () {
                    swal.close();
                    Swal.fire({
                        title: '¡Tu mensaje fue enviado!',
                        text: 'Te responderemos a la brevedad al email que nos indicaste.',
                        confirmButtonText: '¡Hecho!',
                        icon: "success",
                        backdrop: `
                            rgba(9, 206, 45, 0.6)
                            `
                    })
                };
                options.error = function () {
                    swal.close();
                    Swal.fire({
                        title: 'Se ha producido un error',
                        icon: 'error',
                        confirmButtonColor: '#59287a',
                        text: 'Por favor, intentá contactarnos a traves del teléfono que figura en el inicio de esta página.',
                        backdrop: `
                                            rgba(206, 9, 9, 0.6)
                                            `
                    })
                };
                $.ajax(options);
            }
            else {
                Swal.fire({
                    title: '¡Campos incompletos!',
                    icon: 'error',
                    confirmButtonColor: '#59287a',
                    text: 'Completá todos los campos antes de continuar.',
                    backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                })
            }
        });     
    });
</script>