﻿@model Onix.Models.HomeViewModels
@{
    Html.RenderAction("_Navigation", "User");
}
<body style="overflow-x:hidden">
    @{
        Html.RenderAction("_Sidebar", "Category");
    }
    <script>
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('#barra-categorias').hide();
            $('#logo-navbar').css('margin-left', '10px');
        }
    </script>
    <header>
        <div id="banner-onix" style="width:100%">
            <img src="~/Content/img/Banner-Inicio-Onix.jpg" style="height:auto; width:100%;"/>
        </div>       
    </header>
    <script>
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            //$('#carouselExampleIndicators').hide();
            $('#banner-onix').hide();
        }
    </script>
    <br />
    <!-- Page Content -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-0 col-md-2">

            </div>
            <div class="row" style="width:100%; margin:0px; padding:0px;">
                <div class="col-lg-8 mx-auto col-sm-3">
                    <div class="row py-2">
                        @{
                            if (Model.ListaPosts.Count() > 0)
                            {
                                for (int i = 0; i < Model.ListaPosts.Count(); i++)
                                {
                                    if (i == 12) //Poner multiplos de 8
                                    {
                                        <div class="col-lg-12 col-sm-1" style="padding:0px; padding-right:3px; padding-left:3px;">
                                            <div class="" style="width:100%; height:auto; max-height:120px; margin-bottom:0px;">
                                                <a id="bannerLink1" href="https://www.instagram.com/farmacia.caballero/" onclick="void window.open(this.href); return false;">
                                                    <img id="bannerImage1" style="width:100%; height:auto; max-height:120px; border-radius:5px;" src="@Url.Content("~/Content/img/banner-caballero-min.jpg")" />
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    if (i == 24) //Poner multiplos de 8
                                    {
                                        <div class="col-lg-12 col-sm-1" style="padding:0px; padding-right:3px; padding-left:3px;">
                                            <div class="" style="width:100%; height:auto; max-height:120px; margin-bottom:0px;">
                                                <a id="bannerLink2" href="https://www.facebook.com/wowestudio.d" onclick="void window.open(this.href); return false;">
                                                    <img id="bannerImage2" style="width:100%; height:auto; max-height:120px; border-radius:5px;" src="@Url.Content("~/Content/img/banner-wow-min.jpg")" />
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    if (i == 36) //Poner multiplos de 8
                                    {
                                        <div class="col-lg-12 col-sm-1" style="padding:0px; padding-right:3px; padding-left:3px;">
                                            <div class="" style="width:100%; height:auto; max-height:120px; margin-bottom:0px;">
                                                <a id="bannerLink3" href="https://www.facebook.com/wowestudio.d" onclick="void window.open(this.href); return false;">
                                                    <img id="bannerImage3" style="width:100%; height:auto; max-height:120px; border-radius:5px;" src="@Url.Content("~/Content/img/banner-wow-min.jpg")" />
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    if (Model.ListaPosts[i].Prioridad == 3)
                                    {
                                        <div class="col-lg-3" style="margin:0px; padding:4px">
                                            <a class="card-inicio" href="@Url.Action("Index", "Post", new { id = Model.ListaPosts[i].idPost})">
                                                <figure class="rounded p-2 bg-white shadow-sm" style="height:220px; background: linear-gradient(to bottom, rgba(0, 118, 214, 0.43) 0%, rgba(0, 118, 214, 0.43) 35%)">
                                                    <img src="~/Content/img/tick_onix.png" alt="tick" style="position:absolute; left:10px; top:10px; height:25px;" />
                                                    <div class="contenedor-imagen-inicio">
                                                        @{
                                                            if (Model.ListaPosts[i].Imagen != null)
                                                            {

                                                                <img loading="lazy" class="imagen-tarjeta" src="data:image;base64,@System.Convert.ToBase64String(Model.ListaPosts[i].Imagen)" alt=""> }
                                                            else
                                                            {
                                                                <img loading="lazy" class="imagen-tarjeta" src="@Url.Content("~/Content/img/Onix_Logo_6.jpg")" alt="">
                                                            }
                                                        }
                                                    </div>
                                                    <figcaption class="p-0 card-img-bottom" style="text-align:center; margin-top:5px;">
                                                        <h6 class="font-weight-bold subtitulo-tarjeta">@Model.ListaPosts[i].Titulo</h6>
                                                    </figcaption>
                                                </figure>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        if (Model.ListaPosts[i].Prioridad == 2)
                                        {
                                            <div class="col-lg-3" style="margin:0px; padding:4px">
                                                <a class="card-inicio" href="@Url.Action("Index", "Post", new { id = Model.ListaPosts[i].idPost})">
                                                    <figure class="rounded p-2 bg-white shadow-sm" style="height:220px; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 35%)">
                                                        <img src="~/Content/img/tick_celeste.png" alt="tick" style="position:absolute; left:10px; top:10px; height:25px;" />
                                                        <div class="contenedor-imagen-inicio">
                                                            @{
                                                                if (Model.ListaPosts[i].Imagen != null)
                                                                {

                                                                    <img loading="lazy" class="imagen-tarjeta" src="data:image;base64,@System.Convert.ToBase64String(Model.ListaPosts[i].Imagen)" alt=""> }
                                                                else
                                                                {
                                                                    <img loading="lazy" class="imagen-tarjeta" src="@Url.Content("~/Content/img/Onix_Logo_6.jpg")" alt="">
                                                                }
                                                            }
                                                        </div>
                                                        <figcaption class="p-0 card-img-bottom" style="text-align:center; margin-top:5px;">
                                                            <h6 class="font-weight-bold subtitulo-tarjeta">@Model.ListaPosts[i].Titulo</h6>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-lg-3" style="margin:0px; padding:4px">
                                                <a class="card-inicio" href="@Url.Action("Index", "Post", new { id = Model.ListaPosts[i].idPost})">
                                                    <figure class="rounded p-2 bg-white shadow-sm" style="height:220px;">
                                                        <div class="contenedor-imagen-inicio">
                                                            @{
                                                                if (Model.ListaPosts[i].Imagen != null)
                                                                {

                                                                    <img loading="lazy" class="imagen-tarjeta" src="data:image;base64,@System.Convert.ToBase64String(Model.ListaPosts[i].Imagen)" alt=""> }
                                                                else
                                                                {
                                                                    <img loading="lazy" class="imagen-tarjeta" src="@Url.Content("~/Content/img/Onix_Logo_6.jpg")" alt="">
                                                                }
                                                            }
                                                        </div>
                                                        <figcaption class="p-0 card-img-bottom" style="text-align:center; margin-top:5px;">
                                                            <h6 class="font-weight-bold subtitulo-tarjeta">@Model.ListaPosts[i].Titulo</h6>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                            </div>
                                        }
                                    }

                                }
                            }
                        }
                    </div>
                </div>
            </div>



            <!--PUBLICIDADES AQUI-->
            <div class="col-sm-0 col-md-2">

            </div>
        </div>
    </div>
</body>
@Html.Partial("_PaginationHome")
@Html.Partial("_Footer")
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
    $(document).ready(function () {
        ///Actualizo publicidades cada 3 seg
        //Publicidades 1
        if ($('#bannerImage1').is(':visible')) {
            let links1 = ["https://www.instagram.com/farmacia.caballero/", "http://long.com.ar/", "https://www.facebook.com/QuickLaneRafaela/"];
            let images1 = ["/Content/img/banner-caballero-min.jpg", "/Content/img/banner-long-min.jpg", "/Content/img/banner-quicklane-min.jpg"];
            let cantImg1 = 0;
            let renew1 = setInterval(function () {
                if (links1.length == cantImg1) {
                    cantImg1 = 0;
                }
                else {
                    document.getElementById("bannerImage1").src = images1[cantImg1];
                    document.getElementById("bannerLink1").href = links1[cantImg1];
                    cantImg1++;
                }
            }, 3000);
        }
        //Publicidades 2
        if ($('#bannerImage2').is(':visible')) {
            let links2 = ["https://www.instagram.com/wowestudio.d/","http://www.abc.com", "https://www.facebook.com/SparkComunica/"];
            let images2 = ["/Content/img/banner-wow-min.jpg","/Content/img/banner-rafautomotores-min.jpg", "/Content/img/banner-spark-min.jpg"];
            let cantImg2 = 0;
            let renew2 = setInterval(function () {
                if (links2.length == cantImg2) {
                    cantImg2 = 0;
                }
                else {
                    document.getElementById("bannerImage2").src = images2[cantImg2];
                    document.getElementById("bannerLink2").href = links2[cantImg2];
                    cantImg2++;
                }
            }, 3000);
        }
        //Publicidades 3
        if ($('#bannerImage3').is(':visible')) {
            let links3 = ["https://www.instagram.com/wowestudio.d/", "http://long.com.ar/", "https://www.facebook.com/QuickLaneRafaela/", "http://www.abc.com", "https://www.facebook.com/SparkComunica/"];
            let images3 = ["/Content/img/banner-wow-min.jpg", "/Content/img/banner-long-min.jpg", "/Content/img/banner-quicklane-min.jpg", "/Content/img/banner-rafautomotores-min.jpg", "/Content/img/banner-spark-min.jpg"];
            let cantImg3 = 0;
            let renew3 = setInterval(function () {
                if (links3.length == cantImg3) {
                    cantImg3 = 0;
                }
                else {
                    document.getElementById("bannerImage3").src = images3[cantImg3];
                    document.getElementById("bannerLink3").href = links3[cantImg3];
                    cantImg3++;
                }
            }, 3000);
        }
        ///Fin actualizacion
        function setMaxWidth() {
            $("#banner1").css("maxWidth", ( $( window ).width() * 0.7 | 0 ) + "px");
        }
        setMaxWidth();
        $(window).bind("resize", setMaxWidth); //Remove this if it's not needed. It will react when window changes size.
        if ('@User.Identity.IsAuthenticated' == 'True') {
                if ('@ViewBag.DatosIncompletos' == 'False') {
                    Swal.fire({
                        title: 'Necesitamos sólo unos datos más..',
                        icon: 'info',
                        text: "A continuación, te pediremos solo los datos necesarios para ser parte de ONIX. Sólo te llevará 1 minuto.",
                        confirmButtonColor: '#59287a',
                    }).then((avanzar) => {
                        Swal.mixin({
                            input: 'text',
                            confirmButtonText: 'Siguiente &rarr;',
                            cancelButtonText: 'Cancelar',
                            showCancelButton: true,
                            reverseButtons: true,
                            progressSteps: ['1', '2', '3']
                        }).queue([
                            {
                                title: 'Localidad',
                                input: 'text'
                            },
                            {
                                title: 'Dirección'
                            },
                            {
                                title: 'Celular (sin el 15, con caractéristica)',
                                input: 'number',
                                placeholder: 'ejemplo: 3492536576'
                            }
                        ]).then((result) => {
                            if (result.value) {
                                if (result.value[0].trim() != '' && result.value[1].trim() != '' && result.value[2].trim() != '') {
                                    let data = {}
                                    data.IdUsuario = '@User.Identity.Name';
                                    data.Localidad = result.value[0]
                                    data.Direccion = result.value[1]
                                    data.Celular = result.value[2]
                                    let options = {};
                                    options.url = "/Post/GuardarDatosExtraUsuario";
                                    options.type = "POST";
                                    options.data = JSON.stringify({ "data": data });
                                    options.dataType = "json";
                                    options.contentType = "application/json";
                                    options.success = function (response) {
                                        if (response.exito) {
                                            confetti.start(2200, 100, 150);
                                            Swal.fire({
                                                title: '¡Todo listo!',
                                                text: 'Ya formás parte del grupo ONIX. ¡Que lo disfrutes!',
                                                confirmButtonText: '¡Hecho!',
                                                icon: "success",
                                                backdrop: `
                                                rgba(9, 206, 45, 0.6)
                                                `
                                            })
                                        }
                                        else {
                                            Swal.fire({
                                                title: 'Se ha producido un error',
                                                icon: 'error',
                                                confirmButtonColor: '#59287a',
                                                text: response.mensaje,
                                                backdrop: `
                                                rgba(206, 9, 9, 0.6)
                                                `
                                            })
                                        }
                                    };
                                    options.error = function (err) {
                                        Swal.fire({
                                            title: 'Se ha producido un error',
                                            icon: 'error',
                                            confirmButtonColor: '#59287a',
                                            text: 'Por favor, intenta cargar tus datos más tarde desde tu perfil.',
                                            backdrop: `
                                            rgba(206, 9, 9, 0.6)
                                            `
                                        })
                                    };
                                    $.ajax(options);
                                } else {
                                    Swal.fire({
                                        title: '¡Ups! Parece que no has completado todos los datos..',
                                        icon: 'error',
                                        confirmButtonColor: '#59287a',
                                        text: 'Descuida, te lo pediremos nuevamente cuando regreses a la Home.',
                                        backdrop: `
                                        rgba(206, 9, 9, 0.6)
                                        `
                                    })
                                }
                            }
                        })
                    });
                }
            }
        if ('@Model.idEstado' == '3') {
            Swal.fire({
                title: '¡Has desactivado esta cuenta!',
                icon: 'error',
                confirmButtonColor: '#59287a',
                text: "Por favor, comunicate con ONIX para recuperarla o creá una cuenta nueva.",
                allowOutsideClick: false,
                allowEscapeKey: false,
                backdrop: `
                rgba(206, 9, 9, 0.6)
                `
            }).then((avanzar) => {
                if (avanzar.value) {
                    window.location.href = "/Account/Login";
                }
            });
        }

    });
</script>



