﻿body {
    background-color: #eee;
    max-width: 100%;
}

#pinBoot {
    position: relative;
    max-width: 100%;
    /*width: 1000px;*/
    margin: 0px 0px;
    margin-bottom: -33px;
}

.imagen-tarjeta {
    width: auto;
    max-width: 100%;
    height: auto; /*160px*/
    max-height: 160px;
    text-align:center;
    vertical-align:middle;
    border-radius:5px;
}

.imagen-panel {
    width: auto;
    height: 160px; /*160*/
    line-height: 160px;
    vertical-align:middle;
    text-align:center;
}

#logo-navbar {
    height: auto;
    width: 200px;
    margin: -50px;
}

.card-inicio {
    width: 55px;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

    .card-inicio :hover {
        cursor:pointer;
    }

figure {
    overflow: hidden;
    word-wrap: break-word;
    background: rgba(2,0,36,1);
}
.white-panel {
    position: absolute;
    background: white;
    width: 55px; /*55*/
    height: 266px; /*266*/
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align:center;
    overflow:hidden;
    word-wrap:break-word;
    border-radius:5px;
}

.contenedor-imagen-inicio {
    width: auto;
    height: 160px; /*160*/
    line-height: 160px;
    vertical-align: middle;
    text-align: center;
}

.subtitulo-tarjeta {
    font-size: 14px;
    line-height: 25px;
    color: black;
    /*font-family: sans-serif;*/
}
    /*
stylize any heading tags withing white-panel below
*/

    .white-panel h1 {
        font-size: 1em;
        
    }

        .white-panel h1 a {
            color: #A92733;
        }

    .white-panel:hover {
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        margin-top: -5px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

/*ESTILOS RESPONSIVES*/
@media only screen and (max-width : 320px) {
    #logo-navbar {
        margin-left: 10px;
    }
}