﻿.single {
    padding: 30px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
    border-radius: 0.25rem;
}

    .single h3.side-title {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        font-size: 20px;
        color: #333;
        text-transform: uppercase;
    }

        .single h3.side-title:after {
            content: '';
            width: auto;
            height: 4px;
            background: #59287a;
            display: block;
            margin-top: 6px;
        }

    .single ul {
        margin-bottom: 0;
    }

    .single li a {
        color: #666;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 1px solid #f0f0f0;
        line-height: 40px;
        display: block;
        text-decoration: none;
    }

        .single li a:hover {
            color: #59287a;
            font-size: 18px;
            font-weight:bold;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

    .single li:last-child a {
        border-bottom: 0;
    }
