﻿.support-menu * {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right:0px;
}

div.support-menu {
    margin: 15px ; /*auto*/
    width: 200px;
    margin-right:0px;

}

.support-menu nav.vertical {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    overflow: hidden;
    text-align: center;
}

    .support-menu nav.vertical > ul {
        list-style-type: none;
    }

        .support-menu nav.vertical > ul > li {
            display: block;
        }

            .support-menu nav.vertical > ul > li > a {
                background: rgba(98,37,131,1);
                background: -moz-linear-gradient(left, rgba(98,37,131,1) 0%, rgba(62,81,172,1) 50%, rgba(42,169,229,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,37,131,1)), color-stop(50%, rgba(62,81,172,1)), color-stop(100%, rgba(42,169,229,1)));
                background: -webkit-linear-gradient(left, rgba(98,37,131,1) 0%, rgba(62,81,172,1) 50%, rgba(42,169,229,1) 100%);
                background: -o-linear-gradient(left, rgba(98,37,131,1) 0%, rgba(62,81,172,1) 50%, rgba(42,169,229,1) 100%);
                background: -ms-linear-gradient(left, rgba(98,37,131,1) 0%, rgba(62,81,172,1) 50%, rgba(42,169,229,1) 100%);
                background: linear-gradient(to right, rgba(98,37,131,1) 0%, rgba(62,81,172,1) 50%, rgba(42,169,229,1) 100%);
                border-bottom: 1px solid rgba(255,255,255,.1);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
                color: rgb(255,255,255);
                display: block;
                font-size: .85rem;
                font-weight: 500;
                height: 50px;
                letter-spacing: .2rem;
                line-height: 50px;
                text-shadow: 0 1px 1px rgba(0,0,0,.1);
                text-transform: uppercase;
                transition: all .1s ease;
                text-decoration: none;
            }

                .support-menu nav.vertical > ul > li > a:hover {
                    background-color: rgb(114, 51, 98);
                    background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
                    background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
                    background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
                    background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
                    cursor: pointer;
                }

            .support-menu nav.vertical > ul > li > div {
                background-color: rgb(255,255,255);
            }

                .support-menu nav.vertical > ul > li > div > ul {
                    list-style-type: none;
                }

                    .support-menu nav.vertical > ul > li > div > ul > li > a {
                        background-color: rgb(255,255,255);
                        border-bottom: 1px solid rgba(0,0,0,.05);
                        color: #333331;
                        display: block;
                        font-size: 1.1rem;
                        padding: 5px 0;
                        text-decoration: none;
                        transition: all 0.15s linear;
                    }

                    .support-menu nav.vertical > ul > li > div > ul > li:hover > a {
                        background-color: lightBlue;
                        color: rgb(255,255,255);
                        padding: 10px 0 10px 50px;
                    }
